In [1]:
%load_ext autoreload
%autoreload 2


from pathlib import Path
from datetime import datetime
import pandas as pd
from medicane_utils.load_files import load_cyclones_track_noheader

manos_track_files_dir = Path("..\CompositeTracks_MedCyclones_Flaounas_etal_2023")

In [2]:
tracks_file_prefix_templ = "TRACKS_CL§.dat"  
alltrack_files = [manos_track_files_dir / tracks_file_prefix_templ.replace('§', f"{i}") for i in range(2,11)]
alltrack_files

[WindowsPath('../CompositeTracks_MedCyclones_Flaounas_etal_2023/TRACKS_CL2.dat'),
 WindowsPath('../CompositeTracks_MedCyclones_Flaounas_etal_2023/TRACKS_CL3.dat'),
 WindowsPath('../CompositeTracks_MedCyclones_Flaounas_etal_2023/TRACKS_CL4.dat'),
 WindowsPath('../CompositeTracks_MedCyclones_Flaounas_etal_2023/TRACKS_CL5.dat'),
 WindowsPath('../CompositeTracks_MedCyclones_Flaounas_etal_2023/TRACKS_CL6.dat'),
 WindowsPath('../CompositeTracks_MedCyclones_Flaounas_etal_2023/TRACKS_CL7.dat'),
 WindowsPath('../CompositeTracks_MedCyclones_Flaounas_etal_2023/TRACKS_CL8.dat'),
 WindowsPath('../CompositeTracks_MedCyclones_Flaounas_etal_2023/TRACKS_CL9.dat'),
 WindowsPath('../CompositeTracks_MedCyclones_Flaounas_etal_2023/TRACKS_CL10.dat')]

In [3]:
alldfs = []
for tracks_file in alltrack_files:
    df_tracks = load_cyclones_track_noheader(tracks_file)
    df_tracks['time'] = pd.to_datetime(df_tracks['time'])
    alldfs.append(df_tracks)
    print(df_tracks.shape)

(616780, 4)
(470106, 4)
(347437, 4)
(267345, 4)
(199505, 4)
(139135, 4)
(93876, 4)
(50525, 4)
(19849, 4)

### verifico che gli id ciclone siano gli stessi

In [29]:
# numero di cicloni unici
[df.id_cyc.nunique() for df in alldfs]
# -> abbiamo 12750 cicloni in tutto nel CL2, e 206 nel CL10

[12750, 8425, 5445, 3808, 2638, 1716, 1089, 565, 206]

In [25]:
idc = alldfs[0].id_cyc.unique()[30]  # per esempio
idc

'00000031'

In [30]:
m0 = alldfs[0].id_cyc == idc

In [31]:
m1 = alldfs[-1].id_cyc == idc

In [32]:
alldfs[0][m0]

        id_cyc     lat     lon                time
1730  00000031  30.130  31.380 1979-02-26 08:00:00
1731  00000031  30.387  31.323 1979-02-26 09:00:00
1732  00000031  30.660  31.245 1979-02-26 10:00:00
1733  00000031  30.871  31.262 1979-02-26 11:00:00
1734  00000031  30.982  31.444 1979-02-26 12:00:00
1735  00000031  31.026  31.759 1979-02-26 13:00:00
1736  00000031  31.078  32.130 1979-02-26 14:00:00
1737  00000031  31.217  32.538 1979-02-26 15:00:00
1738  00000031  31.539  33.041 1979-02-26 16:00:00
1739  00000031  32.085  33.645 1979-02-26 17:00:00
1740  00000031  32.738  34.232 1979-02-26 18:00:00
1741  00000031  33.322  34.684 1979-02-26 19:00:00
1742  00000031  33.765  34.982 1979-02-26 20:00:00
1743  00000031  34.074  35.147 1979-02-26 21:00:00
1744  00000031  34.282  35.199 1979-02-26 22:00:00
1745  00000031  34.443  35.171 1979-02-26 23:00:00
1746  00000031  34.602  35.113 1979-02-27 00:00:00
1747  00000031  34.752  35.063 1979-02-27 01:00:00
1748  00000031  34.873  35.032 1979-02-27 02:00:00
1749  00000031  34.978  35.015 1979-02-27 03:00:00
1750  00000031  35.076  35.007 1979-02-27 04:00:00
1751  00000031  35.153  35.009 1979-02-27 05:00:00
1752  00000031  35.201  35.037 1979-02-27 06:00:00
1753  00000031  35.229  35.096 1979-02-27 07:00:00
1754  00000031  35.250  35.170 1979-02-27 08:00:00

In [33]:
alldfs[-1][m1]

        id_cyc     lat     lon                time
3083  00000031  37.020  -1.550 1983-11-16 07:00:00
3084  00000031  37.228  -1.302 1983-11-16 08:00:00
3085  00000031  37.510  -0.948 1983-11-16 09:00:00
3086  00000031  37.853  -0.511 1983-11-16 10:00:00
3087  00000031  38.210  -0.078 1983-11-16 11:00:00
...        ...     ...     ...                 ...
3194  00000031  30.388  20.940 1983-11-20 22:00:00
3195  00000031  30.296  21.156 1983-11-20 23:00:00
3196  00000031  30.233  21.417 1983-11-21 00:00:00
3197  00000031  30.196  21.708 1983-11-21 01:00:00
3198  00000031  30.170  22.010 1983-11-21 02:00:00

[116 rows x 4 columns]

### no -> quindi poi resettiamo l'index

In [45]:
lat=30.388
lon=20.940
time=pd.to_datetime("1983-11-20 22:00:00")

In [46]:
mascherone = (alldfs[0].lat==lat) & (alldfs[0].lon==lon) & (alldfs[0].time==time)

In [47]:
alldfs[0][mascherone]

         id_cyc     lat    lon                time
65240  00001315  30.388  20.94 1983-11-20 22:00:00

In [48]:
mascherone1 = (alldfs[-1].lat==lat) & (alldfs[-1].lon==lon) & (alldfs[-1].time==time)
alldfs[-1][mascherone1]

        id_cyc     lat    lon                time
3194  00000031  30.388  20.94 1983-11-20 22:00:00

##### verifico che le coordinate e i tempi almeno siano uguali

In [55]:
cln = -1

In [103]:
id_unici = alldfs[cln].id_cyc.unique()
cols = ['lat','lon','time']
for idc in id_unici:
    mask = alldfs[cln].id_cyc == idc
    righe = alldfs[cln][mask][cols]
    all_rows = righe.merge(alldfs[0][cols], how='left', indicator=True)['_merge'].eq('both')
    all_rows_present = all_rows.all()
    #p = all_rows.sum()/righe.shape[0]
    print(f"id {idc} presente interamente in CL2? {all_rows_present} con {all_rows.sum()} righe su {righe.shape[0]}")

id 00000001 presente interamente in CL2? True con 86 righe su 86
id 00000002 presente interamente in CL2? True con 48 righe su 48
id 00000003 presente interamente in CL2? True con 159 righe su 159
id 00000004 presente interamente in CL2? True con 67 righe su 67
id 00000005 presente interamente in CL2? True con 111 righe su 111
id 00000006 presente interamente in CL2? True con 186 righe su 186
id 00000007 presente interamente in CL2? True con 57 righe su 57
id 00000008 presente interamente in CL2? True con 111 righe su 111
id 00000009 presente interamente in CL2? True con 107 righe su 107
id 00000010 presente interamente in CL2? True con 149 righe su 149
id 00000011 presente interamente in CL2? True con 128 righe su 128
id 00000012 presente interamente in CL2? False con 79 righe su 98
id 00000013 presente interamente in CL2? True con 75 righe su 75
id 00000014 presente interamente in CL2? True con 122 righe su 122
id 00000015 presente interamente in CL2? True con 56 righe su 56
id 00000016 presente interamente in CL2? True con 46 righe su 46
id 00000017 presente interamente in CL2? True con 149 righe su 149
id 00000018 presente interamente in CL2? True con 62 righe su 62
id 00000019 presente interamente in CL2? True con 79 righe su 79
id 00000020 presente interamente in CL2? True con 92 righe su 92
id 00000021 presente interamente in CL2? False con 89 righe su 100
id 00000022 presente interamente in CL2? True con 120 righe su 120
id 00000023 presente interamente in CL2? True con 189 righe su 189
id 00000024 presente interamente in CL2? True con 80 righe su 80
id 00000025 presente interamente in CL2? False con 131 righe su 145
id 00000026 presente interamente in CL2? True con 89 righe su 89
id 00000027 presente interamente in CL2? True con 92 righe su 92
id 00000028 presente interamente in CL2? True con 71 righe su 71
id 00000029 presente interamente in CL2? True con 60 righe su 60
id 00000030 presente interamente in CL2? True con 149 righe su 149
id 00000031 presente interamente in CL2? True con 116 righe su 116
id 00000032 presente interamente in CL2? True con 214 righe su 214
id 00000033 presente interamente in CL2? True con 81 righe su 81
id 00000034 presente interamente in CL2? True con 73 righe su 73
id 00000035 presente interamente in CL2? True con 138 righe su 138
id 00000036 presente interamente in CL2? False con 87 righe su 97
id 00000037 presente interamente in CL2? True con 68 righe su 68
id 00000038 presente interamente in CL2? True con 50 righe su 50
id 00000039 presente interamente in CL2? True con 99 righe su 99
id 00000040 presente interamente in CL2? True con 58 righe su 58
id 00000041 presente interamente in CL2? True con 148 righe su 148
id 00000042 presente interamente in CL2? True con 90 righe su 90
id 00000043 presente interamente in CL2? False con 80 righe su 94
id 00000044 presente interamente in CL2? True con 104 righe su 104
id 00000045 presente interamente in CL2? True con 164 righe su 164
id 00000046 presente interamente in CL2? True con 41 righe su 41
id 00000047 presente interamente in CL2? True con 117 righe su 117
id 00000048 presente interamente in CL2? True con 104 righe su 104
id 00000049 presente interamente in CL2? True con 67 righe su 67
id 00000050 presente interamente in CL2? True con 75 righe su 75
id 00000051 presente interamente in CL2? True con 97 righe su 97
id 00000052 presente interamente in CL2? True con 137 righe su 137
id 00000053 presente interamente in CL2? True con 105 righe su 105
id 00000054 presente interamente in CL2? True con 78 righe su 78
id 00000055 presente interamente in CL2? True con 73 righe su 73
id 00000056 presente interamente in CL2? True con 58 righe su 58
id 00000057 presente interamente in CL2? True con 86 righe su 86
id 00000058 presente interamente in CL2? True con 108 righe su 108
id 00000059 presente interamente in CL2? True con 104 righe su 104
id 00000060 presente interamente in CL2? True con 70 righe su 70
id 00000061 presente interamente in CL2? True con 83 righe su 83
id 00000062 presente interamente in CL2? True con 44 righe su 44
id 00000063 presente interamente in CL2? True con 78 righe su 78
id 00000064 presente interamente in CL2? False con 38 righe su 48
id 00000065 presente interamente in CL2? True con 61 righe su 61
id 00000066 presente interamente in CL2? False con 87 righe su 99
id 00000067 presente interamente in CL2? True con 143 righe su 143
id 00000068 presente interamente in CL2? True con 63 righe su 63
id 00000069 presente interamente in CL2? True con 64 righe su 64
id 00000070 presente interamente in CL2? True con 66 righe su 66
id 00000071 presente interamente in CL2? True con 138 righe su 138
id 00000072 presente interamente in CL2? True con 80 righe su 80
id 00000073 presente interamente in CL2? False con 90 righe su 100
id 00000074 presente interamente in CL2? True con 58 righe su 58
id 00000075 presente interamente in CL2? True con 207 righe su 207
id 00000076 presente interamente in CL2? False con 81 righe su 91
id 00000077 presente interamente in CL2? True con 69 righe su 69
id 00000078 presente interamente in CL2? True con 93 righe su 93
id 00000079 presente interamente in CL2? True con 137 righe su 137
id 00000080 presente interamente in CL2? True con 82 righe su 82
id 00000081 presente interamente in CL2? True con 104 righe su 104
id 00000082 presente interamente in CL2? True con 107 righe su 107
id 00000083 presente interamente in CL2? True con 78 righe su 78
id 00000084 presente interamente in CL2? True con 79 righe su 79
id 00000085 presente interamente in CL2? True con 103 righe su 103
id 00000086 presente interamente in CL2? True con 130 righe su 130
id 00000087 presente interamente in CL2? True con 139 righe su 139
id 00000088 presente interamente in CL2? True con 128 righe su 128
id 00000089 presente interamente in CL2? True con 177 righe su 177
id 00000090 presente interamente in CL2? True con 95 righe su 95
id 00000091 presente interamente in CL2? True con 133 righe su 133
id 00000092 presente interamente in CL2? True con 81 righe su 81
id 00000093 presente interamente in CL2? True con 78 righe su 78
id 00000094 presente interamente in CL2? True con 107 righe su 107
id 00000095 presente interamente in CL2? True con 70 righe su 70
id 00000096 presente interamente in CL2? True con 48 righe su 48
id 00000097 presente interamente in CL2? True con 66 righe su 66
id 00000098 presente interamente in CL2? True con 68 righe su 68
id 00000099 presente interamente in CL2? True con 157 righe su 157
id 00000100 presente interamente in CL2? True con 126 righe su 126
id 00000101 presente interamente in CL2? True con 84 righe su 84
id 00000102 presente interamente in CL2? True con 102 righe su 102
id 00000103 presente interamente in CL2? True con 88 righe su 88
id 00000104 presente interamente in CL2? True con 84 righe su 84
id 00000105 presente interamente in CL2? True con 71 righe su 71
id 00000106 presente interamente in CL2? True con 132 righe su 132
id 00000107 presente interamente in CL2? True con 84 righe su 84
id 00000108 presente interamente in CL2? True con 68 righe su 68
id 00000109 presente interamente in CL2? True con 97 righe su 97
id 00000110 presente interamente in CL2? True con 112 righe su 112
id 00000111 presente interamente in CL2? True con 92 righe su 92
id 00000112 presente interamente in CL2? True con 48 righe su 48
id 00000113 presente interamente in CL2? True con 53 righe su 53
id 00000114 presente interamente in CL2? True con 151 righe su 151
id 00000115 presente interamente in CL2? True con 139 righe su 139
id 00000116 presente interamente in CL2? True con 122 righe su 122
id 00000117 presente interamente in CL2? True con 154 righe su 154
id 00000118 presente interamente in CL2? True con 93 righe su 93
id 00000119 presente interamente in CL2? False con 79 righe su 86
id 00000120 presente interamente in CL2? True con 91 righe su 91
id 00000121 presente interamente in CL2? True con 83 righe su 83
id 00000122 presente interamente in CL2? True con 58 righe su 58
id 00000123 presente interamente in CL2? True con 80 righe su 80
id 00000124 presente interamente in CL2? True con 56 righe su 56
id 00000125 presente interamente in CL2? True con 131 righe su 131
id 00000126 presente interamente in CL2? True con 50 righe su 50
id 00000127 presente interamente in CL2? True con 109 righe su 109
id 00000128 presente interamente in CL2? True con 94 righe su 94
id 00000129 presente interamente in CL2? True con 60 righe su 60
id 00000130 presente interamente in CL2? True con 69 righe su 69
id 00000131 presente interamente in CL2? True con 65 righe su 65
id 00000132 presente interamente in CL2? True con 71 righe su 71
id 00000133 presente interamente in CL2? True con 77 righe su 77
id 00000134 presente interamente in CL2? False con 57 righe su 64
id 00000135 presente interamente in CL2? True con 71 righe su 71
id 00000136 presente interamente in CL2? True con 115 righe su 115
id 00000137 presente interamente in CL2? False con 119 righe su 125
id 00000138 presente interamente in CL2? True con 131 righe su 131
id 00000139 presente interamente in CL2? True con 147 righe su 147
id 00000140 presente interamente in CL2? True con 99 righe su 99
id 00000141 presente interamente in CL2? True con 84 righe su 84
id 00000142 presente interamente in CL2? True con 80 righe su 80
id 00000143 presente interamente in CL2? True con 69 righe su 69
id 00000144 presente interamente in CL2? True con 121 righe su 121
id 00000145 presente interamente in CL2? True con 226 righe su 226
id 00000146 presente interamente in CL2? True con 63 righe su 63
id 00000147 presente interamente in CL2? False con 161 righe su 186
id 00000148 presente interamente in CL2? True con 158 righe su 158
id 00000149 presente interamente in CL2? True con 74 righe su 74
id 00000150 presente interamente in CL2? True con 82 righe su 82
id 00000151 presente interamente in CL2? True con 90 righe su 90
id 00000152 presente interamente in CL2? True con 82 righe su 82
id 00000153 presente interamente in CL2? False con 100 righe su 111
id 00000154 presente interamente in CL2? True con 118 righe su 118
id 00000155 presente interamente in CL2? True con 72 righe su 72
id 00000156 presente interamente in CL2? True con 59 righe su 59
id 00000157 presente interamente in CL2? True con 151 righe su 151
id 00000158 presente interamente in CL2? True con 110 righe su 110
id 00000159 presente interamente in CL2? True con 67 righe su 67
id 00000160 presente interamente in CL2? True con 118 righe su 118
id 00000161 presente interamente in CL2? True con 69 righe su 69
id 00000162 presente interamente in CL2? True con 59 righe su 59
id 00000163 presente interamente in CL2? True con 73 righe su 73
id 00000164 presente interamente in CL2? True con 81 righe su 81
id 00000165 presente interamente in CL2? False con 62 righe su 73
id 00000166 presente interamente in CL2? True con 161 righe su 161
id 00000167 presente interamente in CL2? True con 86 righe su 86
id 00000168 presente interamente in CL2? True con 87 righe su 87
id 00000169 presente interamente in CL2? True con 71 righe su 71
id 00000170 presente interamente in CL2? False con 134 righe su 181
id 00000171 presente interamente in CL2? True con 91 righe su 91
id 00000172 presente interamente in CL2? True con 70 righe su 70
id 00000173 presente interamente in CL2? True con 99 righe su 99
id 00000174 presente interamente in CL2? True con 108 righe su 108
id 00000175 presente interamente in CL2? True con 52 righe su 52
id 00000176 presente interamente in CL2? True con 56 righe su 56
id 00000177 presente interamente in CL2? True con 44 righe su 44
id 00000178 presente interamente in CL2? True con 49 righe su 49
id 00000179 presente interamente in CL2? True con 81 righe su 81
id 00000180 presente interamente in CL2? True con 54 righe su 54
id 00000181 presente interamente in CL2? True con 59 righe su 59
id 00000182 presente interamente in CL2? True con 73 righe su 73
id 00000183 presente interamente in CL2? True con 67 righe su 67
id 00000184 presente interamente in CL2? True con 100 righe su 100
id 00000185 presente interamente in CL2? True con 86 righe su 86
id 00000186 presente interamente in CL2? True con 108 righe su 108
id 00000187 presente interamente in CL2? True con 79 righe su 79
id 00000188 presente interamente in CL2? True con 98 righe su 98
id 00000189 presente interamente in CL2? True con 70 righe su 70
id 00000190 presente interamente in CL2? False con 83 righe su 133
id 00000191 presente interamente in CL2? True con 121 righe su 121
id 00000192 presente interamente in CL2? True con 91 righe su 91
id 00000193 presente interamente in CL2? True con 147 righe su 147
id 00000194 presente interamente in CL2? True con 127 righe su 127
id 00000195 presente interamente in CL2? True con 193 righe su 193
id 00000196 presente interamente in CL2? True con 80 righe su 80
id 00000197 presente interamente in CL2? True con 80 righe su 80
id 00000198 presente interamente in CL2? True con 106 righe su 106
id 00000199 presente interamente in CL2? True con 63 righe su 63
id 00000200 presente interamente in CL2? True con 50 righe su 50
id 00000201 presente interamente in CL2? True con 71 righe su 71
id 00000202 presente interamente in CL2? True con 80 righe su 80
id 00000203 presente interamente in CL2? True con 96 righe su 96
id 00000204 presente interamente in CL2? True con 105 righe su 105
id 00000205 presente interamente in CL2? True con 98 righe su 98
id 00000206 presente interamente in CL2? True con 121 righe su 121

In [53]:
righe = alldfs[-1][m1][['lat','lon','time']]
righe

         lat     lon                time
3083  37.020  -1.550 1983-11-16 07:00:00
3084  37.228  -1.302 1983-11-16 08:00:00
3085  37.510  -0.948 1983-11-16 09:00:00
3086  37.853  -0.511 1983-11-16 10:00:00
3087  38.210  -0.078 1983-11-16 11:00:00
...      ...     ...                 ...
3194  30.388  20.940 1983-11-20 22:00:00
3195  30.296  21.156 1983-11-20 23:00:00
3196  30.233  21.417 1983-11-21 00:00:00
3197  30.196  21.708 1983-11-21 01:00:00
3198  30.170  22.010 1983-11-21 02:00:00

[116 rows x 3 columns]

In [76]:
all_rows_present = righe.merge(alldfs[0][['lat','lon','time']], how='left', indicator=True)#['_merge'].eq('both').all()
all_rows_present

        lat     lon                time _merge
0    37.010  13.010 2020-12-12 17:00:00   both
1    36.912  13.439 2020-12-12 18:00:00   both
2    36.834  13.829 2020-12-12 19:00:00   both
3    36.739  14.227 2020-12-12 20:00:00   both
4    36.566  14.719 2020-12-12 21:00:00   both
..      ...     ...                 ...    ...
116  32.956  36.789 2020-12-17 13:00:00   both
117  32.859  36.942 2020-12-17 14:00:00   both
118  32.786  37.073 2020-12-17 15:00:00   both
119  32.722  37.192 2020-12-17 16:00:00   both
120  32.660  37.310 2020-12-17 17:00:00   both

[121 rows x 4 columns]

In [69]:
righe.merge(alldfs[0][['lat','lon','time']], how='left', indicator=True)['_merge'].eq('both').sum()/righe.shape[0]

1.0

In [101]:
id_es = '00000190'
m = alldfs[-1].id_cyc == id_es
alldfs[-1][m].head(10)

         id_cyc     lat     lon                time
18087  00000190  39.130  18.450 2015-02-08 22:00:00
18088  00000190  39.044  18.979 2015-02-08 23:00:00
18089  00000190  38.834  19.458 2015-02-09 00:00:00
18090  00000190  38.527  19.825 2015-02-09 01:00:00
18091  00000190  38.228  20.043 2015-02-09 02:00:00
18092  00000190  38.002  20.161 2015-02-09 03:00:00
18093  00000190  37.841  20.255 2015-02-09 04:00:00
18094  00000190  37.712  20.335 2015-02-09 05:00:00
18095  00000190  37.598  20.389 2015-02-09 06:00:00
18096  00000190  37.498  20.437 2015-02-09 07:00:00

In [102]:
m10965 = alldfs[0].id_cyc == '00010965'
alldfs[0][m10965].head(10)

          id_cyc     lat     lon                time
531139  00010965  39.130  18.450 2015-02-08 22:00:00
531140  00010965  39.057  19.047 2015-02-08 23:00:00
531141  00010965  38.846  19.521 2015-02-09 00:00:00
531142  00010965  38.535  19.866 2015-02-09 01:00:00
531143  00010965  38.232  20.065 2015-02-09 02:00:00
531144  00010965  38.004  20.171 2015-02-09 03:00:00
531145  00010965  37.841  20.260 2015-02-09 04:00:00
531146  00010965  37.713  20.337 2015-02-09 05:00:00
531147  00010965  37.598  20.390 2015-02-09 06:00:00
531148  00010965  37.498  20.438 2015-02-09 07:00:00

In [99]:
alldfs[-1][m][cols].merge(alldfs[0], how='inner').head(50)

       lat     lon                time    id_cyc
0   39.130  18.450 2015-02-08 22:00:00  00010965
1   37.414  20.510 2015-02-09 08:00:00  00010965
2   37.336  20.634 2015-02-09 09:00:00  00010965
3   37.233  20.807 2015-02-09 10:00:00  00010965
4   37.081  20.964 2015-02-09 11:00:00  00010965
5   36.901  21.078 2015-02-09 12:00:00  00010965
6   36.719  21.201 2015-02-09 13:00:00  00010965
7   36.524  21.366 2015-02-09 14:00:00  00010965
8   36.315  21.587 2015-02-09 15:00:00  00010965
9   36.123  21.901 2015-02-09 16:00:00  00010965
10  35.974  22.314 2015-02-09 17:00:00  00010965
11  35.882  22.779 2015-02-09 18:00:00  00010965
12  35.830  23.235 2015-02-09 19:00:00  00010965
13  35.790  23.661 2015-02-09 20:00:00  00010965
14  35.744  24.095 2015-02-09 21:00:00  00010965
15  35.703  24.559 2015-02-09 22:00:00  00010965
16  35.685  25.007 2015-02-09 23:00:00  00010965
17  35.706  25.415 2015-02-10 00:00:00  00010965
18  35.762  25.808 2015-02-10 01:00:00  00010965
19  35.841  26.188 2015-02-10 02:00:00  00010965
20  35.921  26.527 2015-02-10 03:00:00  00010965
21  35.984  26.819 2015-02-10 04:00:00  00010965
22  36.021  27.078 2015-02-10 05:00:00  00010965
23  36.037  27.323 2015-02-10 06:00:00  00010965
24  36.035  27.562 2015-02-10 07:00:00  00010965
25  36.019  27.802 2015-02-10 08:00:00  00010965
26  35.997  28.053 2015-02-10 09:00:00  00010965
27  35.981  28.320 2015-02-10 10:00:00  00010965
28  35.966  28.609 2015-02-10 11:00:00  00010965
29  35.941  28.934 2015-02-10 12:00:00  00010965
30  35.913  29.303 2015-02-10 13:00:00  00010965
31  35.905  29.700 2015-02-10 14:00:00  00010965
32  35.930  30.093 2015-02-10 15:00:00  00010965
33  35.981  30.451 2015-02-10 16:00:00  00010965
34  36.056  30.767 2015-02-10 17:00:00  00010965
35  36.158  31.041 2015-02-10 18:00:00  00010965
36  36.271  31.269 2015-02-10 19:00:00  00010965
37  36.384  31.474 2015-02-10 20:00:00  00010965
38  36.546  31.754 2015-02-10 21:00:00  00010965
39  36.789  32.188 2015-02-10 22:00:00  00010965
40  37.044  32.676 2015-02-10 23:00:00  00010965
41  35.683  34.688 2015-02-12 17:00:00  00010965
42  35.650  34.556 2015-02-12 18:00:00  00010965
43  35.580  34.261 2015-02-12 19:00:00  00010965
44  35.480  33.862 2015-02-12 20:00:00  00010965
45  35.367  33.480 2015-02-12 21:00:00  00010965
46  35.267  33.220 2015-02-12 22:00:00  00010965
47  35.204  33.135 2015-02-12 23:00:00  00010965
48  35.176  33.171 2015-02-13 00:00:00  00010965
49  35.175  33.244 2015-02-13 01:00:00  00010965

In [93]:
1-(50/133.0)

0.6240601503759399

In [84]:
alldfs[0][alldfs[0][cols] == alldfs[-1][m][cols].iloc[0]].dropna()

Empty DataFrame
Columns: [id_cyc, lat, lon, time]
Index: []

# Unisco tutti i CLn in un unico dataframe con l'etichetta di origine

In [4]:
i = 2
for df in alldfs:
    df['source'] = f"CL{i}"
    i += 1

In [5]:
alldfs[-1]

         id_cyc     lat     lon                time source
0      00000001  24.730  11.500 1979-02-16 13:00:00   CL10
1      00000001  24.964  11.937 1979-02-16 14:00:00   CL10
2      00000001  25.210  12.435 1979-02-16 15:00:00   CL10
3      00000001  25.499  13.058 1979-02-16 16:00:00   CL10
4      00000001  25.827  13.778 1979-02-16 17:00:00   CL10
...         ...     ...     ...                 ...    ...
19844  00000206  32.956  36.789 2020-12-17 13:00:00   CL10
19845  00000206  32.859  36.942 2020-12-17 14:00:00   CL10
19846  00000206  32.786  37.073 2020-12-17 15:00:00   CL10
19847  00000206  32.722  37.192 2020-12-17 16:00:00   CL10
19848  00000206  32.660  37.310 2020-12-17 17:00:00   CL10

[19849 rows x 5 columns]

In [6]:
df_union = pd.concat(alldfs, ignore_index=True)

In [7]:
df_union

           id_cyc     lat     lon                time source
0        00000001  48.120 -17.750 1979-01-03 01:00:00    CL2
1        00000001  48.163 -17.447 1979-01-03 02:00:00    CL2
2        00000001  48.143 -16.979 1979-01-03 03:00:00    CL2
3        00000001  48.078 -16.344 1979-01-03 04:00:00    CL2
4        00000001  48.031 -15.679 1979-01-03 05:00:00    CL2
...           ...     ...     ...                 ...    ...
2204553  00000206  32.956  36.789 2020-12-17 13:00:00   CL10
2204554  00000206  32.859  36.942 2020-12-17 14:00:00   CL10
2204555  00000206  32.786  37.073 2020-12-17 15:00:00   CL10
2204556  00000206  32.722  37.192 2020-12-17 16:00:00   CL10
2204557  00000206  32.660  37.310 2020-12-17 17:00:00   CL10

[2204558 rows x 5 columns]

### procedo a filtrare come per il singolo: > 2011

In [8]:
df_alltracks = df_union[df_union['time'] > datetime(2011, 1, 1)]
df_alltracks.shape

(531753, 5)

In [9]:
from medicane_utils.geo_const import latcorners, loncorners#, x_center, y_center, create_basemap_obj

tracks_df_coord = df_alltracks[
    (df_alltracks['lat'] >= latcorners[0]) & (df_alltracks['lat'] <= latcorners[1]) &
    (df_alltracks['lon'] >= loncorners[0]) & (df_alltracks['lon'] <= loncorners[1])
]
tracks_df_coord.shape

(383006, 5)

In [10]:
tracks_df_coord['year'] = tracks_df_coord['time'].dt.year
tracks_df_coord['month']= tracks_df_coord['time'].dt.month
tracks_df_coord['day']  = tracks_df_coord['time'].dt.day
tracks_df_coord['hour'] = tracks_df_coord['time'].dt.hour

C:\Users\Daniele.LOKI\AppData\Local\Temp\ipykernel_5564\3193182999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tracks_df_coord['year'] = tracks_df_coord['time'].dt.year
C:\Users\Daniele.LOKI\AppData\Local\Temp\ipykernel_5564\3193182999.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tracks_df_coord['month']= tracks_df_coord['time'].dt.month
C:\Users\Daniele.LOKI\AppData\Local\Temp\ipykernel_5564\3193182999.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tracks_df_coord['day']  = tracks_df_coord['time'].dt.day
C:\Users\Daniele.LOKI\AppData\Local\Temp\ipykernel_5564\3193182999.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tracks_df_coord['hour'] = tracks_df_coord['time'].dt.hour

# Ricreo il master data_df

In [11]:
from medicane_utils.load_files import  load_all_images, get_files_from_folder, extract_dates_pattern_airmass_rgb_20200101_0000    #load_cyclones_track_noheader,
from build_dataset import labeled_tiles_from_metadatafiles, calc_tile_offsets

In [12]:
input_dir = r"E:\Medicanes_Data\from_gcloud"
sorted_metadata_files = load_all_images(input_dir = input_dir)

117764 files loaded.

In [20]:
tracks_df_coord#.source

,id_cyc,lat,lon,time,source,year,month,day,hour
464444,00009558,35.394,13.637,2011-01-01 01:00:00,CL2,2011,1,1,1
464445,00009558,35.485,13.613,2011-01-01 02:00:00,CL2,2011,1,1,2
464446,00009558,35.556,13.667,2011-01-01 03:00:00,CL2,2011,1,1,3
464447,00009558,35.557,13.873,2011-01-01 04:00:00,CL2,2011,1,1,4
464448,00009558,35.518,14.134,2011-01-01 05:00:00,CL2,2011,1,1,5
...,...,...,...,...,...,...,...,...,...
2204553,00000206,32.956,36.789,2020-12-17 13:00:00,CL10,2020,12,17,13
2204554,00000206,32.859,36.942,2020-12-17 14:00:00,CL10,2020,12,17,14
2204555,00000206,32.786,37.073,2020-12-17 15:00:00,CL10,2020,12,17,15
2204556,00000206,32.722,37.192,2020-12-17 16:00:00,CL10,2020,12,17,16
2204557,00000206,32.660,37.310,2020-12-17 17:00:00,CL10,2020,12,17,17

In [ ]:
df_data = labeled_tiles_from_metadatafiles(sorted_metadata_files, tracks_df_coord)  # [10000:10020]
df_data.shape

In [18]:
df_data.head(50)#[10000:10020]#[['x_pix','y_pix']]#.value_counts().index.values

,path,datetime,tile_offset_x,tile_offset_y,label,lat,lon,x_pix,y_pix,name,source
0,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:05:00,0,0,0,[],[],[],[],<NA>,[]
1,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:05:00,224,0,0,[],[],[],[],<NA>,[]
2,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:05:00,448,0,1,"[43.39, 43.39, 43.39]","[7.38, 7.38, 7.38]","[453, 453, 453]","[64, 64, 64]",<NA>,"['CL2', 'CL3', 'CL4']"
3,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:05:00,672,0,0,[],[],[],[],<NA>,[]
4,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:05:00,896,0,1,"[38.675, 38.675, 38.675, 38.675, 38.675, 38.67...","[26.169, 26.169, 26.169, 26.169, 26.169, 26.16...","[963, 963, 963, 963, 963, 963, 963]","[184, 184, 184, 184, 184, 184, 184]",<NA>,"['CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8']"
5,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:05:00,0,196,0,[],[],[],[],<NA>,[]
6,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:05:00,224,196,0,[],[],[],[],<NA>,[]
7,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:05:00,448,196,0,[],[],[],[],<NA>,[]
8,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:05:00,672,196,0,[],[],[],[],<NA>,[]
9,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:05:00,896,196,0,[],[],[],[],<NA>,[]
10,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:10:00,0,0,0,[],[],[],[],<NA>,[]
11,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:10:00,224,0,0,[],[],[],[],<NA>,[]
12,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:10:00,448,0,1,"[43.39, 43.39, 43.39]","[7.38, 7.38, 7.38]","[453, 453, 453]","[64, 64, 64]",<NA>,"['CL2', 'CL3', 'CL4']"
13,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:10:00,672,0,0,[],[],[],[],<NA>,[]
14,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:10:00,896,0,1,"[38.675, 38.675, 38.675, 38.675, 38.675, 38.67...","[26.169, 26.169, 26.169, 26.169, 26.169, 26.16...","[963, 963, 963, 963, 963, 963, 963]","[184, 184, 184, 184, 184, 184, 184]",<NA>,"['CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8']"
15,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:10:00,0,196,0,[],[],[],[],<NA>,[]
16,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:10:00,224,196,0,[],[],[],[],<NA>,[]
17,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:10:00,448,196,0,[],[],[],[],<NA>,[]
18,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:10:00,672,196,0,[],[],[],[],<NA>,[]
19,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:10:00,896,196,0,[],[],[],[],<NA>,[]
20,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:15:00,0,0,0,[],[],[],[],<NA>,[]
21,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:15:00,224,0,0,[],[],[],[],<NA>,[]
22,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:15:00,448,0,1,"[43.39, 43.39, 43.39]","[7.38, 7.38, 7.38]","[453, 453, 453]","[64, 64, 64]",<NA>,"['CL2', 'CL3', 'CL4']"
23,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:15:00,672,0,0,[],[],[],[],<NA>,[]
24,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:15:00,896,0,1,"[38.675, 38.675, 38.675, 38.675, 38.675, 38.67...","[26.169, 26.169, 26.169, 26.169, 26.169, 26.16...","[963, 963, 963, 963, 963, 963, 963]","[184, 184, 184, 184, 184, 184, 184]",<NA>,"['CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8']"
25,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:15:00,0,196,0,[],[],[],[],<NA>,[]
26,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:15:00,224,196,0,[],[],[],[],<NA>,[]
27,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:15:00,448,196,0,[],[],[],[],<NA>,[]
28,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:15:00,672,196,0,[],[],[],[],<NA>,[]
29,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:15:00,896,196,0,[],[],[],[],<NA>,[]
30,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:20:00,0,0,0,[],[],[],[],<NA>,[]
31,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:20:00,224,0,0,[],[],[],[],<NA>,[]
32,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:20:00,448,0,1,"[43.39, 43.39, 43.39]","[7.38, 7.38, 7.38]","[453, 453, 453]","[64, 64, 64]",<NA>,"['CL2', 'CL3', 'CL4']"
33,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:20:00,672,0,0,[],[],[],[],<NA>,[]
34,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:20:00,896,0,1,"[38.675, 38.675, 38.675, 38.675, 38.675, 38.67...","[26.169, 26.169, 26.169, 26.169, 26.169, 26.16...","[963, 963, 963, 963, 963, 963, 963]","[184, 184, 184, 184, 184, 184, 184]",<NA>,"['CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8']"
35,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:20:00,0,196,0,[],[],[],[],<NA>,[]
36,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:20:00,224,196,0,[],[],[],[],<NA>,[]
37,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:20:00,448,196,0,[],[],[],[],<NA>,[]
38,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:20:00,672,196,0,[],[],[],[],<NA>,[]
39,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:20:00,896,196,0,[],[],[],[],<NA>,[]
40,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:25:00,0,0,0,[],[],[],[],<NA>,[]
41,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:25:00,224,0,0,[],[],[],[],<NA>,[]
42,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:25:00,448,0,1,"[43.39, 43.39, 43.39]","[7.38, 7.38, 7.38]","[453, 453, 453]","[64, 64, 64]",<NA>,"['CL2', 'CL3', 'CL4']"
43,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:25:00,672,0,0,[],[],[],[],<NA>,[]
44,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:25:00,896,0,1,"[38.675, 38.675, 38.675, 38.675, 38.675, 38.67...","[26.169, 26.169, 26.169, 26.169, 26.169, 26.16...","[963, 963, 963, 963, 963, 963, 963]","[184, 184, 184, 184, 184, 184, 184]",<NA>,"['CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8']"
45,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:25:00,0,196,0,[],[],[],[],<NA>,[]
46,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:25:00,224,196,0,[],[],[],[],<NA>,[]
47,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:25:00,448,196,0,[],[],[],[],<NA>,[]
48,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:25:00,672,196,0,[],[],[],[],<NA>,[]
49,E:\Medicanes_Data\from_gcloud\airmass_rgb_2017...,2017-11-19 17:25:00,896,196,0,[],[],[],[],<NA>,[]

In [19]:
df_data.to_csv("all_data_all_methods_tracks.csv")

In [28]:
meta0 = sorted_metadata_files[10000]
img_path, frame_dt = meta0
dt_floor = frame_dt.replace(minute=0, second=0, microsecond=0)
mask = tracks_df_coord["time"] == dt_floor
df_candidates = tracks_df_coord[mask]

In [29]:
df_candidates

,id_cyc,lat,lon,time,source,year,month,day,hour
569662,00011747,38.675,26.169,2017-11-19 17:00:00,CL2,2017,11,19,17
569665,00011748,43.390,7.380,2017-11-19 17:00:00,CL2,2017,11,19,17
1051114,00007763,38.675,26.169,2017-11-19 17:00:00,CL3,2017,11,19,17
1051117,00007764,43.390,7.380,2017-11-19 17:00:00,CL3,2017,11,19,17
1407831,00005012,38.675,26.169,2017-11-19 17:00:00,CL4,2017,11,19,17
1407834,00005013,43.390,7.380,2017-11-19 17:00:00,CL4,2017,11,19,17
1682013,00003514,38.675,26.169,2017-11-19 17:00:00,CL5,2017,11,19,17
1886326,00002432,38.675,26.169,2017-11-19 17:00:00,CL6,2017,11,19,17
2029428,00001575,38.675,26.169,2017-11-19 17:00:00,CL7,2017,11,19,17
2126861,00000998,38.675,26.169,2017-11-19 17:00:00,CL8,2017,11,19,17

In [47]:
pr = []

In [52]:
if pr:
    print('e')

In [54]:
lat = []
lon = []
source = []
            

default_offsets_for_frame = calc_tile_offsets()
for tile_offset_x, tile_offset_y in default_offsets_for_frame:
    print(tile_offset_x, tile_offset_y)
    for row in df_candidates.itertuples(index=False):  # devo considerare il caso in cui ho più cicloni 
        lat_, lon_ = row.lat, row.lon
        s_ = row.source
        #print(lat_, lon_, tile_offset_x, tile_offset_y, frame_dt)
        #if inside_tile(lat_, lon_, tile_offset_x, tile_offset_y):
        found_any = True
        lat.append(lat_)
        lon.append(lon_)
        source.append(s_)
        #print(row)

0 0
224 0
448 0
672 0
896 0
0 196
224 196
448 196
672 196
896 196

In [55]:
lat

[38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 38.675,
 38.675,
 38.675,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 38.675,
 38.675,
 38.675,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 38.675,
 38.675,
 38.675,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 38.675,
 38.675,
 38.675,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 38.675,
 38.675,
 38.675,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 38.675,
 38.675,
 38.675,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 38.675,
 38.675,
 38.675,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 38.675,
 38.675,
 38.675,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 38.675,
 38.675,
 38.675,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 43.39,
 38.675,
 38.675,
 38.675,
 38.675]