In [64]:
%load_ext autoreload
%autoreload 2

from time import time
from pathlib import Path
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
from medicane_utils.load_files import load_cyclones_track_noheader
from medicane_utils.geo_const import latcorners, loncorners

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Apro tutti i file CL di Manos per fare un solo DataFrame

In [26]:
manos_track_files_dir = Path("..\CompositeTracks_MedCyclones_Flaounas_etal_2023")
tracks_file_prefix_templ = "TRACKS_CL§.dat"  


def get_alltrack_files(manos_track_files_dir, tracks_file_prefix_templ):
    """
    # ritorna una lista di dataframe
    """
    
    alltrack_files = [manos_track_files_dir / tracks_file_prefix_templ.replace('§', f"{i}") for i in range(2,11)]
    [print(f"Trovato: {str(t)}") for t in alltrack_files]

    alldfs = []
    i=2
    for tracks_file in alltrack_files:
        df_tracks = load_cyclones_track_noheader(tracks_file)
        df_tracks['time'] = pd.to_datetime(df_tracks['time'])
        alldfs.append(df_tracks)
        print(f"Righe presenti nel file CL{i}: {df_tracks.shape[0]}")
        i+=1
        
    return alldfs

alldfs = get_alltrack_files(manos_track_files_dir, tracks_file_prefix_templ)

Trovato: ..\CompositeTracks_MedCyclones_Flaounas_etal_2023\TRACKS_CL2.dat
Trovato: ..\CompositeTracks_MedCyclones_Flaounas_etal_2023\TRACKS_CL3.dat
Trovato: ..\CompositeTracks_MedCyclones_Flaounas_etal_2023\TRACKS_CL4.dat
Trovato: ..\CompositeTracks_MedCyclones_Flaounas_etal_2023\TRACKS_CL5.dat
Trovato: ..\CompositeTracks_MedCyclones_Flaounas_etal_2023\TRACKS_CL6.dat
Trovato: ..\CompositeTracks_MedCyclones_Flaounas_etal_2023\TRACKS_CL7.dat
Trovato: ..\CompositeTracks_MedCyclones_Flaounas_etal_2023\TRACKS_CL8.dat
Trovato: ..\CompositeTracks_MedCyclones_Flaounas_etal_2023\TRACKS_CL9.dat
Trovato: ..\CompositeTracks_MedCyclones_Flaounas_etal_2023\TRACKS_CL10.dat
Righe presenti nel file CL2: 616780
Righe presenti nel file CL3: 470106
Righe presenti nel file CL4: 347437
Righe presenti nel file CL5: 267345
Righe presenti nel file CL6: 199505
Righe presenti nel file CL7: 139135
Righe presenti nel file CL8: 93876
Righe presenti nel file CL9: 50525
Righe presenti nel file CL10: 19849

#### conto il numero di cicloni unici per ogni file

In [3]:
[df.id_cyc.nunique() for df in alldfs]
# -> abbiamo 12750 cicloni in tutto nel CL2, e 206 nel CL10

[12750, 8425, 5445, 3808, 2638, 1716, 1089, 565, 206]

### verifico se gli id ciclone siano gli stessi

In [25]:
# prendo un ciclone per esempio
idc = alldfs[0].id_cyc.unique()[30] 
idc

'00000031'

In [30]:
m0 = alldfs[0].id_cyc == idc

In [31]:
m1 = alldfs[-1].id_cyc == idc

In [32]:
alldfs[0][m0]

        id_cyc     lat     lon                time
1730  00000031  30.130  31.380 1979-02-26 08:00:00
1731  00000031  30.387  31.323 1979-02-26 09:00:00
1732  00000031  30.660  31.245 1979-02-26 10:00:00
1733  00000031  30.871  31.262 1979-02-26 11:00:00
1734  00000031  30.982  31.444 1979-02-26 12:00:00
1735  00000031  31.026  31.759 1979-02-26 13:00:00
1736  00000031  31.078  32.130 1979-02-26 14:00:00
1737  00000031  31.217  32.538 1979-02-26 15:00:00
1738  00000031  31.539  33.041 1979-02-26 16:00:00
1739  00000031  32.085  33.645 1979-02-26 17:00:00
1740  00000031  32.738  34.232 1979-02-26 18:00:00
1741  00000031  33.322  34.684 1979-02-26 19:00:00
1742  00000031  33.765  34.982 1979-02-26 20:00:00
1743  00000031  34.074  35.147 1979-02-26 21:00:00
1744  00000031  34.282  35.199 1979-02-26 22:00:00
1745  00000031  34.443  35.171 1979-02-26 23:00:00
1746  00000031  34.602  35.113 1979-02-27 00:00:00
1747  00000031  34.752  35.063 1979-02-27 01:00:00
1748  00000031  34.873  35.032 1979-02-27 02:00:00
1749  00000031  34.978  35.015 1979-02-27 03:00:00
1750  00000031  35.076  35.007 1979-02-27 04:00:00
1751  00000031  35.153  35.009 1979-02-27 05:00:00
1752  00000031  35.201  35.037 1979-02-27 06:00:00
1753  00000031  35.229  35.096 1979-02-27 07:00:00
1754  00000031  35.250  35.170 1979-02-27 08:00:00

In [33]:
alldfs[-1][m1]

        id_cyc     lat     lon                time
3083  00000031  37.020  -1.550 1983-11-16 07:00:00
3084  00000031  37.228  -1.302 1983-11-16 08:00:00
3085  00000031  37.510  -0.948 1983-11-16 09:00:00
3086  00000031  37.853  -0.511 1983-11-16 10:00:00
3087  00000031  38.210  -0.078 1983-11-16 11:00:00
...        ...     ...     ...                 ...
3194  00000031  30.388  20.940 1983-11-20 22:00:00
3195  00000031  30.296  21.156 1983-11-20 23:00:00
3196  00000031  30.233  21.417 1983-11-21 00:00:00
3197  00000031  30.196  21.708 1983-11-21 01:00:00
3198  00000031  30.170  22.010 1983-11-21 02:00:00

[116 rows x 4 columns]

### no -> quindi poi per il master df resettiamo l'index

In [45]:
lat=30.388
lon=20.940
time=pd.to_datetime("1983-11-20 22:00:00")

In [46]:
mascherone = (alldfs[0].lat==lat) & (alldfs[0].lon==lon) & (alldfs[0].time==time)

In [47]:
alldfs[0][mascherone]

         id_cyc     lat    lon                time
65240  00001315  30.388  20.94 1983-11-20 22:00:00

In [48]:
mascherone1 = (alldfs[-1].lat==lat) & (alldfs[-1].lon==lon) & (alldfs[-1].time==time)
alldfs[-1][mascherone1]

        id_cyc     lat    lon                time
3194  00000031  30.388  20.94 1983-11-20 22:00:00

##### verifico che le coordinate e i tempi almeno siano uguali  (-> neanche: alcuni CL hanno coordinate leggermente diverse)

In [55]:
cln = -1

In [103]:
id_unici = alldfs[cln].id_cyc.unique()
cols = ['lat','lon','time']
for idc in id_unici:
    mask = alldfs[cln].id_cyc == idc
    righe = alldfs[cln][mask][cols]
    all_rows = righe.merge(alldfs[0][cols], how='left', indicator=True)['_merge'].eq('both')
    all_rows_present = all_rows.all()
    #p = all_rows.sum()/righe.shape[0]
    print(f"id {idc} presente interamente in CL2? {all_rows_present} con {all_rows.sum()} righe su {righe.shape[0]}")

id 00000001 presente interamente in CL2? True con 86 righe su 86
id 00000002 presente interamente in CL2? True con 48 righe su 48
id 00000003 presente interamente in CL2? True con 159 righe su 159
id 00000004 presente interamente in CL2? True con 67 righe su 67
id 00000005 presente interamente in CL2? True con 111 righe su 111
id 00000006 presente interamente in CL2? True con 186 righe su 186
id 00000007 presente interamente in CL2? True con 57 righe su 57
id 00000008 presente interamente in CL2? True con 111 righe su 111
id 00000009 presente interamente in CL2? True con 107 righe su 107
id 00000010 presente interamente in CL2? True con 149 righe su 149
id 00000011 presente interamente in CL2? True con 128 righe su 128
id 00000012 presente interamente in CL2? False con 79 righe su 98
id 00000013 presente interamente in CL2? True con 75 righe su 75
id 00000014 presente interamente in CL2? True con 122 righe su 122
id 00000015 presente interamente in CL2? True con 56 righe su 56
id 00000016 presente interamente in CL2? True con 46 righe su 46
id 00000017 presente interamente in CL2? True con 149 righe su 149
id 00000018 presente interamente in CL2? True con 62 righe su 62
id 00000019 presente interamente in CL2? True con 79 righe su 79
id 00000020 presente interamente in CL2? True con 92 righe su 92
id 00000021 presente interamente in CL2? False con 89 righe su 100
id 00000022 presente interamente in CL2? True con 120 righe su 120
id 00000023 presente interamente in CL2? True con 189 righe su 189
id 00000024 presente interamente in CL2? True con 80 righe su 80
id 00000025 presente interamente in CL2? False con 131 righe su 145
id 00000026 presente interamente in CL2? True con 89 righe su 89
id 00000027 presente interamente in CL2? True con 92 righe su 92
id 00000028 presente interamente in CL2? True con 71 righe su 71
id 00000029 presente interamente in CL2? True con 60 righe su 60
id 00000030 presente interamente in CL2? True con 149 righe su 149
id 00000031 presente interamente in CL2? True con 116 righe su 116
id 00000032 presente interamente in CL2? True con 214 righe su 214
id 00000033 presente interamente in CL2? True con 81 righe su 81
id 00000034 presente interamente in CL2? True con 73 righe su 73
id 00000035 presente interamente in CL2? True con 138 righe su 138
id 00000036 presente interamente in CL2? False con 87 righe su 97
id 00000037 presente interamente in CL2? True con 68 righe su 68
id 00000038 presente interamente in CL2? True con 50 righe su 50
id 00000039 presente interamente in CL2? True con 99 righe su 99
id 00000040 presente interamente in CL2? True con 58 righe su 58
id 00000041 presente interamente in CL2? True con 148 righe su 148
id 00000042 presente interamente in CL2? True con 90 righe su 90
id 00000043 presente interamente in CL2? False con 80 righe su 94
id 00000044 presente interamente in CL2? True con 104 righe su 104
id 00000045 presente interamente in CL2? True con 164 righe su 164
id 00000046 presente interamente in CL2? True con 41 righe su 41
id 00000047 presente interamente in CL2? True con 117 righe su 117
id 00000048 presente interamente in CL2? True con 104 righe su 104
id 00000049 presente interamente in CL2? True con 67 righe su 67
id 00000050 presente interamente in CL2? True con 75 righe su 75
id 00000051 presente interamente in CL2? True con 97 righe su 97
id 00000052 presente interamente in CL2? True con 137 righe su 137
id 00000053 presente interamente in CL2? True con 105 righe su 105
id 00000054 presente interamente in CL2? True con 78 righe su 78
id 00000055 presente interamente in CL2? True con 73 righe su 73
id 00000056 presente interamente in CL2? True con 58 righe su 58
id 00000057 presente interamente in CL2? True con 86 righe su 86
id 00000058 presente interamente in CL2? True con 108 righe su 108
id 00000059 presente interamente in CL2? True con 104 righe su 104
id 00000060 presente interamente in CL2? True con 70 righe su 70
id 00000061 presente interamente in CL2? True con 83 righe su 83
id 00000062 presente interamente in CL2? True con 44 righe su 44
id 00000063 presente interamente in CL2? True con 78 righe su 78
id 00000064 presente interamente in CL2? False con 38 righe su 48
id 00000065 presente interamente in CL2? True con 61 righe su 61
id 00000066 presente interamente in CL2? False con 87 righe su 99
id 00000067 presente interamente in CL2? True con 143 righe su 143
id 00000068 presente interamente in CL2? True con 63 righe su 63
id 00000069 presente interamente in CL2? True con 64 righe su 64
id 00000070 presente interamente in CL2? True con 66 righe su 66
id 00000071 presente interamente in CL2? True con 138 righe su 138
id 00000072 presente interamente in CL2? True con 80 righe su 80
id 00000073 presente interamente in CL2? False con 90 righe su 100
id 00000074 presente interamente in CL2? True con 58 righe su 58
id 00000075 presente interamente in CL2? True con 207 righe su 207
id 00000076 presente interamente in CL2? False con 81 righe su 91
id 00000077 presente interamente in CL2? True con 69 righe su 69
id 00000078 presente interamente in CL2? True con 93 righe su 93
id 00000079 presente interamente in CL2? True con 137 righe su 137
id 00000080 presente interamente in CL2? True con 82 righe su 82
id 00000081 presente interamente in CL2? True con 104 righe su 104
id 00000082 presente interamente in CL2? True con 107 righe su 107
id 00000083 presente interamente in CL2? True con 78 righe su 78
id 00000084 presente interamente in CL2? True con 79 righe su 79
id 00000085 presente interamente in CL2? True con 103 righe su 103
id 00000086 presente interamente in CL2? True con 130 righe su 130
id 00000087 presente interamente in CL2? True con 139 righe su 139
id 00000088 presente interamente in CL2? True con 128 righe su 128
id 00000089 presente interamente in CL2? True con 177 righe su 177
id 00000090 presente interamente in CL2? True con 95 righe su 95
id 00000091 presente interamente in CL2? True con 133 righe su 133
id 00000092 presente interamente in CL2? True con 81 righe su 81
id 00000093 presente interamente in CL2? True con 78 righe su 78
id 00000094 presente interamente in CL2? True con 107 righe su 107
id 00000095 presente interamente in CL2? True con 70 righe su 70
id 00000096 presente interamente in CL2? True con 48 righe su 48
id 00000097 presente interamente in CL2? True con 66 righe su 66
id 00000098 presente interamente in CL2? True con 68 righe su 68
id 00000099 presente interamente in CL2? True con 157 righe su 157
id 00000100 presente interamente in CL2? True con 126 righe su 126
id 00000101 presente interamente in CL2? True con 84 righe su 84
id 00000102 presente interamente in CL2? True con 102 righe su 102
id 00000103 presente interamente in CL2? True con 88 righe su 88
id 00000104 presente interamente in CL2? True con 84 righe su 84
id 00000105 presente interamente in CL2? True con 71 righe su 71
id 00000106 presente interamente in CL2? True con 132 righe su 132
id 00000107 presente interamente in CL2? True con 84 righe su 84
id 00000108 presente interamente in CL2? True con 68 righe su 68
id 00000109 presente interamente in CL2? True con 97 righe su 97
id 00000110 presente interamente in CL2? True con 112 righe su 112
id 00000111 presente interamente in CL2? True con 92 righe su 92
id 00000112 presente interamente in CL2? True con 48 righe su 48
id 00000113 presente interamente in CL2? True con 53 righe su 53
id 00000114 presente interamente in CL2? True con 151 righe su 151
id 00000115 presente interamente in CL2? True con 139 righe su 139
id 00000116 presente interamente in CL2? True con 122 righe su 122
id 00000117 presente interamente in CL2? True con 154 righe su 154
id 00000118 presente interamente in CL2? True con 93 righe su 93
id 00000119 presente interamente in CL2? False con 79 righe su 86
id 00000120 presente interamente in CL2? True con 91 righe su 91
id 00000121 presente interamente in CL2? True con 83 righe su 83
id 00000122 presente interamente in CL2? True con 58 righe su 58
id 00000123 presente interamente in CL2? True con 80 righe su 80
id 00000124 presente interamente in CL2? True con 56 righe su 56
id 00000125 presente interamente in CL2? True con 131 righe su 131
id 00000126 presente interamente in CL2? True con 50 righe su 50
id 00000127 presente interamente in CL2? True con 109 righe su 109
id 00000128 presente interamente in CL2? True con 94 righe su 94
id 00000129 presente interamente in CL2? True con 60 righe su 60
id 00000130 presente interamente in CL2? True con 69 righe su 69
id 00000131 presente interamente in CL2? True con 65 righe su 65
id 00000132 presente interamente in CL2? True con 71 righe su 71
id 00000133 presente interamente in CL2? True con 77 righe su 77
id 00000134 presente interamente in CL2? False con 57 righe su 64
id 00000135 presente interamente in CL2? True con 71 righe su 71
id 00000136 presente interamente in CL2? True con 115 righe su 115
id 00000137 presente interamente in CL2? False con 119 righe su 125
id 00000138 presente interamente in CL2? True con 131 righe su 131
id 00000139 presente interamente in CL2? True con 147 righe su 147
id 00000140 presente interamente in CL2? True con 99 righe su 99
id 00000141 presente interamente in CL2? True con 84 righe su 84
id 00000142 presente interamente in CL2? True con 80 righe su 80
id 00000143 presente interamente in CL2? True con 69 righe su 69
id 00000144 presente interamente in CL2? True con 121 righe su 121
id 00000145 presente interamente in CL2? True con 226 righe su 226
id 00000146 presente interamente in CL2? True con 63 righe su 63
id 00000147 presente interamente in CL2? False con 161 righe su 186
id 00000148 presente interamente in CL2? True con 158 righe su 158
id 00000149 presente interamente in CL2? True con 74 righe su 74
id 00000150 presente interamente in CL2? True con 82 righe su 82
id 00000151 presente interamente in CL2? True con 90 righe su 90
id 00000152 presente interamente in CL2? True con 82 righe su 82
id 00000153 presente interamente in CL2? False con 100 righe su 111
id 00000154 presente interamente in CL2? True con 118 righe su 118
id 00000155 presente interamente in CL2? True con 72 righe su 72
id 00000156 presente interamente in CL2? True con 59 righe su 59
id 00000157 presente interamente in CL2? True con 151 righe su 151
id 00000158 presente interamente in CL2? True con 110 righe su 110
id 00000159 presente interamente in CL2? True con 67 righe su 67
id 00000160 presente interamente in CL2? True con 118 righe su 118
id 00000161 presente interamente in CL2? True con 69 righe su 69
id 00000162 presente interamente in CL2? True con 59 righe su 59
id 00000163 presente interamente in CL2? True con 73 righe su 73
id 00000164 presente interamente in CL2? True con 81 righe su 81
id 00000165 presente interamente in CL2? False con 62 righe su 73
id 00000166 presente interamente in CL2? True con 161 righe su 161
id 00000167 presente interamente in CL2? True con 86 righe su 86
id 00000168 presente interamente in CL2? True con 87 righe su 87
id 00000169 presente interamente in CL2? True con 71 righe su 71
id 00000170 presente interamente in CL2? False con 134 righe su 181
id 00000171 presente interamente in CL2? True con 91 righe su 91
id 00000172 presente interamente in CL2? True con 70 righe su 70
id 00000173 presente interamente in CL2? True con 99 righe su 99
id 00000174 presente interamente in CL2? True con 108 righe su 108
id 00000175 presente interamente in CL2? True con 52 righe su 52
id 00000176 presente interamente in CL2? True con 56 righe su 56
id 00000177 presente interamente in CL2? True con 44 righe su 44
id 00000178 presente interamente in CL2? True con 49 righe su 49
id 00000179 presente interamente in CL2? True con 81 righe su 81
id 00000180 presente interamente in CL2? True con 54 righe su 54
id 00000181 presente interamente in CL2? True con 59 righe su 59
id 00000182 presente interamente in CL2? True con 73 righe su 73
id 00000183 presente interamente in CL2? True con 67 righe su 67
id 00000184 presente interamente in CL2? True con 100 righe su 100
id 00000185 presente interamente in CL2? True con 86 righe su 86
id 00000186 presente interamente in CL2? True con 108 righe su 108
id 00000187 presente interamente in CL2? True con 79 righe su 79
id 00000188 presente interamente in CL2? True con 98 righe su 98
id 00000189 presente interamente in CL2? True con 70 righe su 70
id 00000190 presente interamente in CL2? False con 83 righe su 133
id 00000191 presente interamente in CL2? True con 121 righe su 121
id 00000192 presente interamente in CL2? True con 91 righe su 91
id 00000193 presente interamente in CL2? True con 147 righe su 147
id 00000194 presente interamente in CL2? True con 127 righe su 127
id 00000195 presente interamente in CL2? True con 193 righe su 193
id 00000196 presente interamente in CL2? True con 80 righe su 80
id 00000197 presente interamente in CL2? True con 80 righe su 80
id 00000198 presente interamente in CL2? True con 106 righe su 106
id 00000199 presente interamente in CL2? True con 63 righe su 63
id 00000200 presente interamente in CL2? True con 50 righe su 50
id 00000201 presente interamente in CL2? True con 71 righe su 71
id 00000202 presente interamente in CL2? True con 80 righe su 80
id 00000203 presente interamente in CL2? True con 96 righe su 96
id 00000204 presente interamente in CL2? True con 105 righe su 105
id 00000205 presente interamente in CL2? True con 98 righe su 98
id 00000206 presente interamente in CL2? True con 121 righe su 121

In [53]:
righe = alldfs[-1][m1][['lat','lon','time']]
righe

         lat     lon                time
3083  37.020  -1.550 1983-11-16 07:00:00
3084  37.228  -1.302 1983-11-16 08:00:00
3085  37.510  -0.948 1983-11-16 09:00:00
3086  37.853  -0.511 1983-11-16 10:00:00
3087  38.210  -0.078 1983-11-16 11:00:00
...      ...     ...                 ...
3194  30.388  20.940 1983-11-20 22:00:00
3195  30.296  21.156 1983-11-20 23:00:00
3196  30.233  21.417 1983-11-21 00:00:00
3197  30.196  21.708 1983-11-21 01:00:00
3198  30.170  22.010 1983-11-21 02:00:00

[116 rows x 3 columns]

In [76]:
all_rows_present = righe.merge(alldfs[0][['lat','lon','time']], how='left', indicator=True)#['_merge'].eq('both').all()
all_rows_present

        lat     lon                time _merge
0    37.010  13.010 2020-12-12 17:00:00   both
1    36.912  13.439 2020-12-12 18:00:00   both
2    36.834  13.829 2020-12-12 19:00:00   both
3    36.739  14.227 2020-12-12 20:00:00   both
4    36.566  14.719 2020-12-12 21:00:00   both
..      ...     ...                 ...    ...
116  32.956  36.789 2020-12-17 13:00:00   both
117  32.859  36.942 2020-12-17 14:00:00   both
118  32.786  37.073 2020-12-17 15:00:00   both
119  32.722  37.192 2020-12-17 16:00:00   both
120  32.660  37.310 2020-12-17 17:00:00   both

[121 rows x 4 columns]

In [69]:
righe.merge(alldfs[0][['lat','lon','time']], how='left', indicator=True)['_merge'].eq('both').sum()/righe.shape[0]

1.0

In [101]:
id_es = '00000190'
m = alldfs[-1].id_cyc == id_es
alldfs[-1][m].head(10)

         id_cyc     lat     lon                time
18087  00000190  39.130  18.450 2015-02-08 22:00:00
18088  00000190  39.044  18.979 2015-02-08 23:00:00
18089  00000190  38.834  19.458 2015-02-09 00:00:00
18090  00000190  38.527  19.825 2015-02-09 01:00:00
18091  00000190  38.228  20.043 2015-02-09 02:00:00
18092  00000190  38.002  20.161 2015-02-09 03:00:00
18093  00000190  37.841  20.255 2015-02-09 04:00:00
18094  00000190  37.712  20.335 2015-02-09 05:00:00
18095  00000190  37.598  20.389 2015-02-09 06:00:00
18096  00000190  37.498  20.437 2015-02-09 07:00:00

In [102]:
m10965 = alldfs[0].id_cyc == '00010965'
alldfs[0][m10965].head(10)

          id_cyc     lat     lon                time
531139  00010965  39.130  18.450 2015-02-08 22:00:00
531140  00010965  39.057  19.047 2015-02-08 23:00:00
531141  00010965  38.846  19.521 2015-02-09 00:00:00
531142  00010965  38.535  19.866 2015-02-09 01:00:00
531143  00010965  38.232  20.065 2015-02-09 02:00:00
531144  00010965  38.004  20.171 2015-02-09 03:00:00
531145  00010965  37.841  20.260 2015-02-09 04:00:00
531146  00010965  37.713  20.337 2015-02-09 05:00:00
531147  00010965  37.598  20.390 2015-02-09 06:00:00
531148  00010965  37.498  20.438 2015-02-09 07:00:00

In [99]:
alldfs[-1][m][cols].merge(alldfs[0], how='inner').head(50)

       lat     lon                time    id_cyc
0   39.130  18.450 2015-02-08 22:00:00  00010965
1   37.414  20.510 2015-02-09 08:00:00  00010965
2   37.336  20.634 2015-02-09 09:00:00  00010965
3   37.233  20.807 2015-02-09 10:00:00  00010965
4   37.081  20.964 2015-02-09 11:00:00  00010965
5   36.901  21.078 2015-02-09 12:00:00  00010965
6   36.719  21.201 2015-02-09 13:00:00  00010965
7   36.524  21.366 2015-02-09 14:00:00  00010965
8   36.315  21.587 2015-02-09 15:00:00  00010965
9   36.123  21.901 2015-02-09 16:00:00  00010965
10  35.974  22.314 2015-02-09 17:00:00  00010965
11  35.882  22.779 2015-02-09 18:00:00  00010965
12  35.830  23.235 2015-02-09 19:00:00  00010965
13  35.790  23.661 2015-02-09 20:00:00  00010965
14  35.744  24.095 2015-02-09 21:00:00  00010965
15  35.703  24.559 2015-02-09 22:00:00  00010965
16  35.685  25.007 2015-02-09 23:00:00  00010965
17  35.706  25.415 2015-02-10 00:00:00  00010965
18  35.762  25.808 2015-02-10 01:00:00  00010965
19  35.841  26.188 2015-02-10 02:00:00  00010965
20  35.921  26.527 2015-02-10 03:00:00  00010965
21  35.984  26.819 2015-02-10 04:00:00  00010965
22  36.021  27.078 2015-02-10 05:00:00  00010965
23  36.037  27.323 2015-02-10 06:00:00  00010965
24  36.035  27.562 2015-02-10 07:00:00  00010965
25  36.019  27.802 2015-02-10 08:00:00  00010965
26  35.997  28.053 2015-02-10 09:00:00  00010965
27  35.981  28.320 2015-02-10 10:00:00  00010965
28  35.966  28.609 2015-02-10 11:00:00  00010965
29  35.941  28.934 2015-02-10 12:00:00  00010965
30  35.913  29.303 2015-02-10 13:00:00  00010965
31  35.905  29.700 2015-02-10 14:00:00  00010965
32  35.930  30.093 2015-02-10 15:00:00  00010965
33  35.981  30.451 2015-02-10 16:00:00  00010965
34  36.056  30.767 2015-02-10 17:00:00  00010965
35  36.158  31.041 2015-02-10 18:00:00  00010965
36  36.271  31.269 2015-02-10 19:00:00  00010965
37  36.384  31.474 2015-02-10 20:00:00  00010965
38  36.546  31.754 2015-02-10 21:00:00  00010965
39  36.789  32.188 2015-02-10 22:00:00  00010965
40  37.044  32.676 2015-02-10 23:00:00  00010965
41  35.683  34.688 2015-02-12 17:00:00  00010965
42  35.650  34.556 2015-02-12 18:00:00  00010965
43  35.580  34.261 2015-02-12 19:00:00  00010965
44  35.480  33.862 2015-02-12 20:00:00  00010965
45  35.367  33.480 2015-02-12 21:00:00  00010965
46  35.267  33.220 2015-02-12 22:00:00  00010965
47  35.204  33.135 2015-02-12 23:00:00  00010965
48  35.176  33.171 2015-02-13 00:00:00  00010965
49  35.175  33.244 2015-02-13 01:00:00  00010965

In [35]:
1-(50/133.0)

0.6240601503759399

In [84]:
alldfs[0][alldfs[0][cols] == alldfs[-1][m][cols].iloc[0]].dropna()

Empty DataFrame
Columns: [id_cyc, lat, lon, time]
Index: []

# Unisco tutti i CLn in un unico dataframe con l'etichetta di origine

In [36]:
# AGGIUNGIAMO UNA COLONNA SOURCE PER TRACCIARE IL FILE DI ORIGINE
i = 2
for df in alldfs:
    df['source'] = f"CL{i}"
    i += 1

In [37]:
#alldfs[-1]

In [38]:
df_union = pd.concat(alldfs, ignore_index=True)

# Estrai il numero dalla colonna 'source' (es. "CL2" → 2)
df_union['origine_num'] = df_union['source'].str.extract(r'CL(\d+)').astype(int)

# Costruisci l'ID univoco nel formato "02_000206" (origine 2, id_cyc 206)
#df_union['id_cyc_unico'] = (
#    df_union['origine_num'].astype(str).str.zfill(2) + '_' +
#    df_union['id_cyc'].astype(int).astype(str).str.zfill(6)
#)

# Calcola ID unico come intero: 2 cifre origine + 6 cifre id_cyc
df_union['id_cyc_unico'] = df_union['origine_num'] * 1_000_000 + df_union['id_cyc'].astype(int)

# recuperare l'id_cyc originale
def decodifica_id_intero(id_unico):
    origine = id_unico // 1_000_000
    id_cyc = id_unico % 1_000_000
    source = f"CL{origine}"
    return source, id_cyc

# recupero:
#df_union[['source_decod', 'id_cyc_decod']] = df_union['id_cyc_unico'].apply(
#    lambda x: pd.Series(decodifica_id_intero(x)) )

In [5]:
df_union#.id_cyc_unico#[df_union.id_cyc==206]

            lat     lon                time source  id_cyc_unico
0        48.120 -17.750 1979-01-03 01:00:00    CL2       2000001
1        48.163 -17.447 1979-01-03 02:00:00    CL2       2000001
2        48.143 -16.979 1979-01-03 03:00:00    CL2       2000001
3        48.078 -16.344 1979-01-03 04:00:00    CL2       2000001
4        48.031 -15.679 1979-01-03 05:00:00    CL2       2000001
...         ...     ...                 ...    ...           ...
2204553  32.956  36.789 2020-12-17 13:00:00   CL10      10000206
2204554  32.859  36.942 2020-12-17 14:00:00   CL10      10000206
2204555  32.786  37.073 2020-12-17 15:00:00   CL10      10000206
2204556  32.722  37.192 2020-12-17 16:00:00   CL10      10000206
2204557  32.660  37.310 2020-12-17 17:00:00   CL10      10000206

[2204558 rows x 5 columns]

In [43]:
df_union.drop(columns=['id_cyc', 'origine_num']).to_csv("all_manos_CL.csv", index=False)

In [4]:
df_union = pd.read_csv("all_manos_CL.csv", parse_dates=['time'])#.drop(columns='Unnamed: 0')

### procedo a filtrare come per il singolo: > 2011 e coordinate del Mediterraneo

In [17]:
df_alltracks = df_union[df_union['time'] > datetime(2011, 1, 1)]
print(f"Per il periodo dal 2011 alla fine dei file  abbiamo: {df_alltracks.shape[0]} righe")

Per il periodo dal 2011 alla fine dei file  abbiamo: 531753 righe

In [12]:
tracks_df_coord = df_alltracks[
    (df_alltracks['lat'] >= latcorners[0]) & (df_alltracks['lat'] <= latcorners[1]) &
    (df_alltracks['lon'] >= loncorners[0]) & (df_alltracks['lon'] <= loncorners[1])
]
print(f"Per il periodo dal 2011 - dentro il Mediterraneo - abbiamo: {tracks_df_coord.shape[0]} righe")

Per il periodo dal 2011 - dentro il Mediterraneo - abbiamo: 383006 righe

### quì voglio solo il 2020, CL7

In [15]:
df_tracks2020 = df_union[df_union['time'] > datetime(2020, 1, 1)]
df_tracks2020_MED = df_tracks2020[
    (df_tracks2020['lat'] >= latcorners[0]) & (df_tracks2020['lat'] <= latcorners[1]) &
    (df_tracks2020['lon'] >= loncorners[0]) & (df_tracks2020['lon'] <= loncorners[1])
]
df_tracks2020_MED_CL7 = df_tracks2020_MED[df_tracks2020_MED.source == 'CL7']

print(f"Per il periodo dal 2020 alla fine dei file - dentro il Mediterraneo - 7 metodi - abbiamo: {df_tracks2020_MED_CL7.shape[0]} righe")

Per il periodo dal 2020 alla fine dei file - dentro il Mediterraneo - 7 metodi - abbiamo: 2249 righe

In [16]:
df_tracks2020_MED_CL7.id_cyc_unico.nunique()

31

### Conto i cicloni unici

In [11]:
#from view_test_tiles import PALETTE
#clsmanos = list(PALETTE.keys())
clsmanos = [f'CL{i}' for i in range(2,11)]
clsmanos

['CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8', 'CL9', 'CL10']

In [12]:
unici_cls = []
for c in clsmanos:
    mask = tracks_df_coord.source == c
    unici = tracks_df_coord[mask].id_cyc.nunique()
    unici_cls.append(unici)

In [22]:
unici_cls, sum(unici_cls)

([2317, 1596, 1081, 769, 552, 377, 245, 129, 40], 7106)

#### nel 2020

In [36]:
start, end = pd.to_datetime("2020-01-01"), pd.to_datetime("2021-01-01")
m_sup = tracks_df_coord.time <= end 
m_inf = tracks_df_coord.time >= start
track_2020 = tracks_df_coord[m_sup & m_inf]

In [37]:
mask_CLs = [track_2020.source == c for c in clsmanos]
[track_2020[mask_].id_cyc.nunique() for mask_ in mask_CLs]

[219, 151, 103, 71, 44, 31, 21, 11, 6]

# Aggiungo in questo dataframe tracks le colonne per gli offsets
in modo da non doverli calcolare dopo nel loop sui frames

In [73]:
from scipy.spatial import cKDTree
import numpy as np

from build_dataset import get_lon_lat_grid_2_pixel

lon_grid, lat_grid, x, y = get_lon_lat_grid_2_pixel(image_w=1290, image_h=420)

# Appiattisci la griglia in array 1D di punti (lon, lat)
grid_points = np.column_stack((lon_grid.ravel(), lat_grid.ravel()))

# Costruisci un KDTree per ricerca veloce
tree = cKDTree(grid_points)

# Funzione vettoriale
def get_cyclone_center_pixel_vector(lat_array, lon_array, image_h=420):
    # Prepara array dei punti da cercare
    query_points = np.column_stack((lon_array, lat_array))
    
    # Trova indice dei punti più vicini nella griglia
    dist, ind = tree.query(query_points)

    # Converti indici lineari in indici 2D
    i, j = np.unravel_index(ind, lon_grid.shape)

    # Ricorda: j → x, i → y (inverto y per altezza immagine)
    x_pix = j
    y_pix = image_h - i

    return x_pix, y_pix

In [74]:
x_pix, y_pix = get_cyclone_center_pixel_vector(df_tracks2020_MED_CL7['lat'].values, df_tracks2020_MED_CL7['lon'].values)
df_tracks2020_MED_CL7['x_pix'] = x_pix
df_tracks2020_MED_CL7['y_pix'] = y_pix

In [76]:
df_tracks2020_MED_CL7

            lat     lon                time source  id_cyc_unico  x_pix  y_pix
2037261  37.170  28.510 2020-01-01 12:00:00    CL7       7001680   1036    225
2037262  36.895  28.255 2020-01-01 13:00:00    CL7       7001680   1031    231
2037263  36.696  28.062 2020-01-01 14:00:00    CL7       7001680   1028    237
2037264  36.538  28.015 2020-01-01 15:00:00    CL7       7001680   1028    241
2037265  36.401  28.086 2020-01-01 16:00:00    CL7       7001680   1031    244
...         ...     ...                 ...    ...           ...    ...    ...
2040303  42.531  17.705 2020-12-27 21:00:00    CL7       7001716    721     85
2040304  42.876  18.055 2020-12-27 22:00:00    CL7       7001716    729     78
2040305  43.343  18.091 2020-12-27 23:00:00    CL7       7001716    727     67
2040306  43.905  17.657 2020-12-28 00:00:00    CL7       7001716    714     54
2040307  44.500  17.000 2020-12-28 01:00:00    CL7       7001716    696     41

[2249 rows x 7 columns]

# Ricreo il master data_df

In [34]:
from medicane_utils.load_files import  load_all_images, get_files_from_folder, extract_dates_pattern_airmass_rgb_20200101_0000    #load_cyclones_track_noheader,
from build_dataset import labeled_tiles_from_metadatafiles, calc_tile_offsets

input_dir = r"E:\Medicanes_Data\from_gcloud"

In [35]:
sorted_metadata_files = load_all_images(input_dir = input_dir)

117764 files loaded.

In [36]:
metadata_2020 = [m for m in sorted_metadata_files if m[1] >= datetime(2020, 1, 1) and m[1] <= datetime(2020, 12, 31, 23, 59)]

In [77]:
len(metadata_2020)

97278

In [ ]:
tracks_df_coord['year'] = tracks_df_coord['time'].dt.year
tracks_df_coord['month']= tracks_df_coord['time'].dt.month
tracks_df_coord['day']  = tracks_df_coord['time'].dt.day
tracks_df_coord['hour'] = tracks_df_coord['time'].dt.hour

In [ ]:
tracks_df_coord.id_cyc.nunique()#.source

### filtro quelli che durano meno di '3' giorni

In [69]:
def filter_by_time_span(df, time_column='time', group_column='id_cyc', min_days=3):
    df[time_column] = pd.to_datetime(df[time_column])
    min_span = timedelta(days=min_days)
    time_spans = df.groupby(group_column)[time_column].agg(['min', 'max'])
    time_spans['span'] = time_spans['max'] - time_spans['min']
    valid_ids = time_spans[time_spans['span'] > min_span].index
    return df[df[group_column].isin(valid_ids)]

filtered_df = filter_by_time_span(tracks_df_coord, min_days=3)

In [65]:
filtered_df

,id_cyc,lat,lon,time,source,year,month,day,hour
469167,00009680,44.500,7.000,2011-01-17 18:00:00,CL2,2011,1,17,18
469168,00009680,44.440,7.000,2011-01-17 19:00:00,CL2,2011,1,17,19
469169,00009680,44.392,7.000,2011-01-17 20:00:00,CL2,2011,1,17,20
469170,00009680,44.361,7.000,2011-01-17 21:00:00,CL2,2011,1,17,21
469171,00009680,44.345,7.000,2011-01-17 22:00:00,CL2,2011,1,17,22
...,...,...,...,...,...,...,...,...,...
2204553,00000206,32.956,36.789,2020-12-17 13:00:00,CL10,2020,12,17,13
2204554,00000206,32.859,36.942,2020-12-17 14:00:00,CL10,2020,12,17,14
2204555,00000206,32.786,37.073,2020-12-17 15:00:00,CL10,2020,12,17,15
2204556,00000206,32.722,37.192,2020-12-17 16:00:00,CL10,2020,12,17,16
2204557,00000206,32.660,37.310,2020-12-17 17:00:00,CL10,2020,12,17,17

In [67]:
filtered_df[filtered_df.source=='CL10'].id_cyc.nunique()

23

In [72]:
filtered_df[filtered_df.source=='CL9'].id_cyc.nunique()

73

In [73]:
filtered_df[filtered_df.source=='CL8'].id_cyc.nunique()

120

In [74]:
filtered_df[filtered_df.source=='CL7'].id_cyc.nunique()

171

In [68]:
tracks_df_coord[tracks_df_coord.source=='CL10'].id_cyc.nunique()

40

In [71]:
filtered_df.id_cyc.nunique()

1645

## Salvo il dataframe

In [83]:
def calc_master_df(input_dir, sorted_metadata_files, df_tracks):
    start = time()
    offsets_for_frame = calc_tile_offsets(stride_x=213, stride_y=196)
    df_data = labeled_tiles_from_metadatafiles(sorted_metadata_files, df_tracks, offsets_for_frame)  # [10000:10020]
    end = time()
    print(f"Durata calcolo: {round((end-start)/60/60,2)} ore")
    return df_data

### DF completo con tutti i metodi

In [17]:
# !!!!  IMPIEGA TANTO TEMPO  !!!!
start = time()
offsets_for_frame = calc_tile_offsets(stride_x=213, stride_y=196)
df_data = labeled_tiles_from_metadatafiles(sorted_metadata_files, tracks_df_coord, offsets_for_frame)  # [10000:10020]
end = time()
df_data.shape[0]

1413168

In [37]:
print(f"durata calcolo: {round((end-start)/60/60,2)} ore")

durata calcolo: 10.35 ore

In [34]:
df_data[df_data.lat.apply(lambda x: len(x)>0)]

,path,datetime,tile_offset_x,tile_offset_y,label,lat,lon,x_pix,y_pix,name,source
4475,E:\Medicanes_Data\from_gcloud\airmass_rgb_2011...,2011-11-02 07:00:00,1065,196,1,"[36.87, 36.87]","[32.07, 32.07]","[1131, 1131]","[236, 236]",<NA>,"['CL2', 'CL3']"
4487,E:\Medicanes_Data\from_gcloud\airmass_rgb_2011...,2011-11-02 07:05:00,1065,196,1,"[36.87, 36.87]","[32.07, 32.07]","[1131, 1131]","[236, 236]",<NA>,"['CL2', 'CL3']"
4499,E:\Medicanes_Data\from_gcloud\airmass_rgb_2011...,2011-11-02 07:10:00,1065,196,1,"[36.87, 36.87]","[32.07, 32.07]","[1131, 1131]","[236, 236]",<NA>,"['CL2', 'CL3']"
4511,E:\Medicanes_Data\from_gcloud\airmass_rgb_2011...,2011-11-02 07:15:00,1065,196,1,"[36.87, 36.87]","[32.07, 32.07]","[1131, 1131]","[236, 236]",<NA>,"['CL2', 'CL3']"
4523,E:\Medicanes_Data\from_gcloud\airmass_rgb_2011...,2011-11-02 07:20:00,1065,196,1,"[36.87, 36.87]","[32.07, 32.07]","[1131, 1131]","[236, 236]",<NA>,"['CL2', 'CL3']"
...,...,...,...,...,...,...,...,...,...,...,...
1308315,E:\Medicanes_Data\from_gcloud\airmass_rgb_2020...,2020-12-28 20:35:00,639,0,1,[45.68],[15.7],[660],[15],<NA>,['CL2']
1308327,E:\Medicanes_Data\from_gcloud\airmass_rgb_2020...,2020-12-28 20:40:00,639,0,1,[45.68],[15.7],[660],[15],<NA>,['CL2']
1308339,E:\Medicanes_Data\from_gcloud\airmass_rgb_2020...,2020-12-28 20:45:00,639,0,1,[45.68],[15.7],[660],[15],<NA>,['CL2']
1308351,E:\Medicanes_Data\from_gcloud\airmass_rgb_2020...,2020-12-28 20:50:00,639,0,1,[45.68],[15.7],[660],[15],<NA>,['CL2']
1308363,E:\Medicanes_Data\from_gcloud\airmass_rgb_2020...,2020-12-28 20:55:00,639,0,1,[45.68],[15.7],[660],[15],<NA>,['CL2']

In [28]:
df_data[df_data.lat='[]']

,path,datetime,tile_offset_x,tile_offset_y,label,lat,lon,x_pix,y_pix,name,source
0,E:\Medicanes_Data\from_gcloud\airmass_rgb_2011...,2011-11-01,0,0,0,[],[],[],[],<NA>,[]
1,E:\Medicanes_Data\from_gcloud\airmass_rgb_2011...,2011-11-01,213,0,0,[],[],[],[],<NA>,[]
2,E:\Medicanes_Data\from_gcloud\airmass_rgb_2011...,2011-11-01,426,0,0,[],[],[],[],<NA>,[]
3,E:\Medicanes_Data\from_gcloud\airmass_rgb_2011...,2011-11-01,639,0,0,[],[],[],[],<NA>,[]
4,E:\Medicanes_Data\from_gcloud\airmass_rgb_2011...,2011-11-01,852,0,0,[],[],[],[],<NA>,[]
...,...,...,...,...,...,...,...,...,...,...,...
1413163,E:\Medicanes_Data\from_gcloud\airmass_rgb_2023...,2023-09-12,213,196,0,[],[],[],[],<NA>,[]
1413164,E:\Medicanes_Data\from_gcloud\airmass_rgb_2023...,2023-09-12,426,196,0,[],[],[],[],<NA>,[]
1413165,E:\Medicanes_Data\from_gcloud\airmass_rgb_2023...,2023-09-12,639,196,0,[],[],[],[],<NA>,[]
1413166,E:\Medicanes_Data\from_gcloud\airmass_rgb_2023...,2023-09-12,852,196,0,[],[],[],[],<NA>,[]
1413167,E:\Medicanes_Data\from_gcloud\airmass_rgb_2023...,2023-09-12,1065,196,0,[],[],[],[],<NA>,[]

In [19]:
df_data.tile_offset_x.unique()#[10000:10020]#[['x_pix','y_pix']]#.value_counts().index.values

array([   0,  213,  426,  639,  852, 1065], dtype=int16)

In [20]:
df_data.source.unique()

<StringArray>
[                                                                            '[]',
                                                                 "['CL2', 'CL3']",
                       "['CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8', 'CL9']",
                                     "['CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7']",
                                                   "['CL2', 'CL3', 'CL4', 'CL5']",
                                                          "['CL2', 'CL3', 'CL4']",
               "['CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8', 'CL9', 'CL10']",
                              "['CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8']",
                                                                        "['CL2']",
         "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8', 'CL9']",
                                                   "['CL2', 'CL2', 'CL3', 'CL3']",
                                                          "['CL2', 'CL2', 'CL3']",
                                            "['CL2', 'CL3', 'CL4', 'CL5', 'CL6']",
                "['CL2', 'CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8', 'CL9']",
                                            "['CL2', 'CL2', 'CL3', 'CL4', 'CL5']",
                                     "['CL2', 'CL2', 'CL3', 'CL4', 'CL5', 'CL6']",
                             "['CL2', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8', 'CL10']",
                                            "['CL2', 'CL2', 'CL3', 'CL3', 'CL4']",
                                     "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL5']",
         "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL4', 'CL5', 'CL5', 'CL6', 'CL7']",
                              "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL4', 'CL5']",
                                                   "['CL2', 'CL2', 'CL3', 'CL4']",
                "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8']",
                                                                 "['CL2', 'CL2']",
                                     "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL4']",
                              "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL5', 'CL6']",
                       "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL4', 'CL5', 'CL6']",
                       "['CL2', 'CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8']",
 "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8', 'CL9', 'CL10']"]
Length: 29, dtype: string

In [21]:
df_data

,path,datetime,tile_offset_x,tile_offset_y,label,lat,lon,x_pix,y_pix,name,source
0,E:\Medicanes_Data\from_gcloud\airmass_rgb_2011...,2011-11-01,0,0,0,[],[],[],[],<NA>,[]
1,E:\Medicanes_Data\from_gcloud\airmass_rgb_2011...,2011-11-01,213,0,0,[],[],[],[],<NA>,[]
2,E:\Medicanes_Data\from_gcloud\airmass_rgb_2011...,2011-11-01,426,0,0,[],[],[],[],<NA>,[]
3,E:\Medicanes_Data\from_gcloud\airmass_rgb_2011...,2011-11-01,639,0,0,[],[],[],[],<NA>,[]
4,E:\Medicanes_Data\from_gcloud\airmass_rgb_2011...,2011-11-01,852,0,0,[],[],[],[],<NA>,[]
...,...,...,...,...,...,...,...,...,...,...,...
1413163,E:\Medicanes_Data\from_gcloud\airmass_rgb_2023...,2023-09-12,213,196,0,[],[],[],[],<NA>,[]
1413164,E:\Medicanes_Data\from_gcloud\airmass_rgb_2023...,2023-09-12,426,196,0,[],[],[],[],<NA>,[]
1413165,E:\Medicanes_Data\from_gcloud\airmass_rgb_2023...,2023-09-12,639,196,0,[],[],[],[],<NA>,[]
1413166,E:\Medicanes_Data\from_gcloud\airmass_rgb_2023...,2023-09-12,852,196,0,[],[],[],[],<NA>,[]
1413167,E:\Medicanes_Data\from_gcloud\airmass_rgb_2023...,2023-09-12,1065,196,0,[],[],[],[],<NA>,[]

In [38]:
df_data.to_csv("all_data_all_methods_tracks_complete.csv")

In [28]:
meta0 = sorted_metadata_files[10000]
img_path, frame_dt = meta0
dt_floor = frame_dt.replace(minute=0, second=0, microsecond=0)
mask = tracks_df_coord["time"] == dt_floor
df_candidates = tracks_df_coord[mask]

### DF 2020 solo CL7

In [79]:
### filtro via dai metadata_files tutti quelli che non rientrano negli intervalli temporali di copertura date dal df tracks di Manos

dff = df_tracks2020_MED_CL7.sort_values('time')

# Calcola la differenza tra righe successive
expected_freq = pd.Timedelta(hours=1)
time_diff = dff['time'].diff()

# Ogni volta che c'è un "buco", parte un nuovo gruppo
dff['gruppo'] = (time_diff != expected_freq).cumsum()

# Ora trovi gli intervalli min e max per ogni gruppo
intervalli = dff.groupby('gruppo')['time'].agg(['min', 'max']).reset_index(drop=True)

def unisci_intervalli(intervalli, freq=pd.Timedelta(hours=1)):
    intervalli = intervalli.sort_values('min').reset_index(drop=True)
    intervalli_uniti = []
    start, end = intervalli.loc[0, 'min'], intervalli.loc[0, 'max']

    for i in range(1, len(intervalli)):
        next_start = intervalli.loc[i, 'min']
        next_end = intervalli.loc[i, 'max']

        # Se l'intervallo successivo è contiguo o sovrapposto
        if next_start <= end + freq:
            end = max(end, next_end)
        else:
            intervalli_uniti.append((start, end))
            start, end = next_start, next_end

    intervalli_uniti.append((start, end))  # ultimo intervallo
    return pd.DataFrame(intervalli_uniti, columns=['min', 'max'])

intervalli_uniti = unisci_intervalli(intervalli)


#intervalli_uniti

In [80]:
def is_in_any_interval(ts, intervalli):
    return any(start <= ts <= end for start, end in zip(intervalli['min'], intervalli['max']))

# Filtra i file
files_filtrati = [f for f in metadata_2020 if is_in_any_interval(f[1], intervalli_uniti)]

In [81]:
len(files_filtrati)

23281

In [85]:
df_data = calc_master_df(input_dir, files_filtrati, df_tracks2020_MED_CL7)

100 su 23281
200 su 23281
300 su 23281
400 su 23281
500 su 23281
600 su 23281
700 su 23281
800 su 23281
900 su 23281
1000 su 23281
1100 su 23281
1200 su 23281
1300 su 23281
1400 su 23281
1500 su 23281
1600 su 23281
1700 su 23281
1800 su 23281
1900 su 23281
2000 su 23281
2100 su 23281
2200 su 23281
2300 su 23281
2400 su 23281
2500 su 23281
2600 su 23281
2700 su 23281
2800 su 23281
2900 su 23281
3000 su 23281
3100 su 23281
3200 su 23281
3300 su 23281
3400 su 23281
3500 su 23281
3600 su 23281
3700 su 23281
3800 su 23281
3900 su 23281
4000 su 23281
4100 su 23281
4200 su 23281
4300 su 23281
4400 su 23281
4500 su 23281
4600 su 23281
4700 su 23281
4800 su 23281
4900 su 23281
5000 su 23281
5100 su 23281
5200 su 23281
5300 su 23281
5400 su 23281
5500 su 23281
5600 su 23281
5700 su 23281
5800 su 23281
5900 su 23281
6000 su 23281
6100 su 23281
6200 su 23281
6300 su 23281
6400 su 23281
6500 su 23281
6600 su 23281
6700 su 23281
6800 su 23281
6900 su 23281
7000 su 23281
7100 su 23281
7200 su 23281
7300 su 23281
7400 su 23281
7500 su 23281
7600 su 23281
7700 su 23281
7800 su 23281
7900 su 23281
8000 su 23281
8100 su 23281
8200 su 23281
8300 su 23281
8400 su 23281
8500 su 23281
8600 su 23281
8700 su 23281
8800 su 23281
8900 su 23281
9000 su 23281
9100 su 23281
9200 su 23281
9300 su 23281
9400 su 23281
9500 su 23281
9600 su 23281
9700 su 23281
9800 su 23281
9900 su 23281
10000 su 23281
10100 su 23281
10200 su 23281
10300 su 23281
10400 su 23281
10500 su 23281
10600 su 23281
10700 su 23281
10800 su 23281
10900 su 23281
11000 su 23281
11100 su 23281
11200 su 23281
11300 su 23281
11400 su 23281
11500 su 23281
11600 su 23281
11700 su 23281
11800 su 23281
11900 su 23281
12000 su 23281
12100 su 23281
12200 su 23281
12300 su 23281
12400 su 23281
12500 su 23281
12600 su 23281
12700 su 23281
12800 su 23281
12900 su 23281
13000 su 23281
13100 su 23281
13200 su 23281
13300 su 23281
13400 su 23281
13500 su 23281
13600 su 23281
13700 su 23281
13800 su 23281
13900 su 23281
14000 su 23281
14100 su 23281
14200 su 23281
14300 su 23281
14400 su 23281
14500 su 23281
14600 su 23281
14700 su 23281
14800 su 23281
14900 su 23281
15000 su 23281
15100 su 23281
15200 su 23281
15300 su 23281
15400 su 23281
15500 su 23281
15600 su 23281
15700 su 23281
15800 su 23281
15900 su 23281
16000 su 23281
16100 su 23281
16200 su 23281
16300 su 23281
16400 su 23281
16500 su 23281
16600 su 23281
16700 su 23281
16800 su 23281
16900 su 23281
17000 su 23281
17100 su 23281
17200 su 23281
17300 su 23281
17400 su 23281
17500 su 23281
17600 su 23281
17700 su 23281
17800 su 23281
17900 su 23281
18000 su 23281
18100 su 23281
18200 su 23281
18300 su 23281
18400 su 23281
18500 su 23281
18600 su 23281
18700 su 23281
18800 su 23281
18900 su 23281
19000 su 23281
19100 su 23281
19200 su 23281
19300 su 23281
19400 su 23281
19500 su 23281
19600 su 23281
19700 su 23281
19800 su 23281
19900 su 23281
20000 su 23281
20100 su 23281
20200 su 23281
20300 su 23281
20400 su 23281
20500 su 23281
20600 su 23281
20700 su 23281
20800 su 23281
20900 su 23281
21000 su 23281
21100 su 23281
21200 su 23281
21300 su 23281
21400 su 23281
21500 su 23281
21600 su 23281
21700 su 23281
21800 su 23281
21900 su 23281
22000 su 23281
22100 su 23281
22200 su 23281
22300 su 23281
22400 su 23281
22500 su 23281
22600 su 23281
22700 su 23281
22800 su 23281
22900 su 23281
23000 su 23281
23100 su 23281
23200 su 23281
Durata calcolo: 0.04 ore

In [86]:
df_data

,path,datetime,tile_offset_x,tile_offset_y,label,x_pix,y_pix,name,source,id_cyc_unico
0,E:\Medicanes_Data\from_gcloud\airmass_rgb_2020...,2020-01-01 12:00:00,0,0,0,[],[],<NA>,[],7001680
1,E:\Medicanes_Data\from_gcloud\airmass_rgb_2020...,2020-01-01 12:00:00,213,0,0,[],[],<NA>,[],7001680
2,E:\Medicanes_Data\from_gcloud\airmass_rgb_2020...,2020-01-01 12:00:00,426,0,0,[],[],<NA>,[],7001680
3,E:\Medicanes_Data\from_gcloud\airmass_rgb_2020...,2020-01-01 12:00:00,639,0,0,[],[],<NA>,[],7001680
4,E:\Medicanes_Data\from_gcloud\airmass_rgb_2020...,2020-01-01 12:00:00,852,0,0,[],[],<NA>,[],7001680
...,...,...,...,...,...,...,...,...,...,...
279367,E:\Medicanes_Data\from_gcloud\airmass_rgb_2020...,2020-12-28 01:00:00,213,196,0,[],[],<NA>,[],7001716
279368,E:\Medicanes_Data\from_gcloud\airmass_rgb_2020...,2020-12-28 01:00:00,426,196,0,[],[],<NA>,[],7001716
279369,E:\Medicanes_Data\from_gcloud\airmass_rgb_2020...,2020-12-28 01:00:00,639,196,0,[],[],<NA>,[],7001716
279370,E:\Medicanes_Data\from_gcloud\airmass_rgb_2020...,2020-12-28 01:00:00,852,196,0,[],[],<NA>,[],7001716
279371,E:\Medicanes_Data\from_gcloud\airmass_rgb_2020...,2020-12-28 01:00:00,1065,196,0,[],[],<NA>,[],7001716

In [88]:
df_data.to_csv("master_data_2020_wID.csv")