# Master Dataframe building

In [1]:
import pandas as pd

from medicane_utils.load_files import  load_all_images, get_files_from_folder, extract_dates_pattern_airmass_rgb_20200101_0000    #load_cyclones_track_noheader,
from dataset.build_dataset import labeled_tiles_from_metadatafiles, calc_tile_offsets, make_master_df

#input_dir = r"E:\Medicanes_Data\from_gcloud"
input_dir = "../fromgcloud"

/home/isac/miniconda3/envs/videomae/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
#tracks_df_MED = pd.read_csv("manos_allCL_pixel.csv", parse_dates=['time', 'start_time', 'end_time'])

tracks_df_MED_CL7 = pd.read_csv("manos_CL7_pixel.csv", parse_dates=['time', 'start_time', 'end_time'])

sorted_metadata_files = load_all_images(input_dir)

#metadata_2020 = [m for m in sorted_metadata_files if m[1] >= datetime(2020, 1, 1) and m[1] <= datetime(2020, 12, 31, 23, 59)]
#len(metadata_2020)

117764 files loaded.

In [3]:
tracks_df_MED_CL7.dtypes

id_cyc_unico             int64
start_time      datetime64[ns]
end_time        datetime64[ns]
lat                    float64
lon                    float64
time            datetime64[ns]
source                  object
x_pix                    int64
y_pix                    int64
dtype: object

In [ ]:
########################################### vecchia funzione: riverificare quando c'è tempo
#df_data = make_master_df(sorted_metadata_files, tracks_df_MED)
#df_data.shape[0]

In [5]:
from dataset.build_dataset import labeled_tiles_from_metadatafiles_maxfast

In [ ]:
offsets_for_frame = calc_tile_offsets(stride_x=213, stride_y=196)

In [30]:
#df_data = labeled_tiles_from_metadatafiles_maxfast(sorted_metadata_files, tracks_df_MED, offsets_for_frame)
########### CLASSE 7
df_data_CL7 = labeled_tiles_from_metadatafiles_maxfast(sorted_metadata_files, tracks_df_MED_CL7, offsets_for_frame)

In [19]:
#(df_data[['path','datetime','tile_offset_x','tile_offset_y','x_pix','y_pix','source','id_cyc_unico','label']] == res2).sum()
#m = df_data['x_pix'] == res2['x_pix']

In [31]:
df_data_CL7.dtypes

path             string[python]
datetime         datetime64[ns]
tile_offset_x             int16
tile_offset_y             int16
x_pix                    object
y_pix                    object
source           string[python]
id_cyc_unico              int32
start_time       datetime64[ns]
end_time         datetime64[ns]
label                      int8
dtype: object

In [32]:
#df_data.to_csv("all_data_all_methods_tracks_complete_fast.csv", date_format="%Y-%m-%d %H:%M")

####CLASSE 7
df_data_CL7.to_csv("all_data_CL7_tracks_complete_fast.csv", date_format="%Y-%m-%d %H:%M")

In [9]:
# tutte le immagini con cicloni
df_data[df_data.x_pix.apply(lambda x: len(x)>0)]

,path,datetime,tile_offset_x,tile_offset_y,x_pix,y_pix,source,id_cyc_unico,label
4475,../fromgcloud/airmass_rgb_20111102_0700.png,2011-11-02 07:00:00,1065,196,"[1131.0, 1131.0]","[236.0, 236.0]","['CL2', 'CL3']",2009824,1
4487,../fromgcloud/airmass_rgb_20111102_0705.png,2011-11-02 07:05:00,1065,196,"[1131.0, 1131.0]","[236.0, 236.0]","['CL2', 'CL3']",2009824,1
4499,../fromgcloud/airmass_rgb_20111102_0710.png,2011-11-02 07:10:00,1065,196,"[1131.0, 1131.0]","[236.0, 236.0]","['CL2', 'CL3']",2009824,1
4511,../fromgcloud/airmass_rgb_20111102_0715.png,2011-11-02 07:15:00,1065,196,"[1131.0, 1131.0]","[236.0, 236.0]","['CL2', 'CL3']",2009824,1
4523,../fromgcloud/airmass_rgb_20111102_0720.png,2011-11-02 07:20:00,1065,196,"[1131.0, 1131.0]","[236.0, 236.0]","['CL2', 'CL3']",2009824,1
...,...,...,...,...,...,...,...,...,...
1308315,../fromgcloud/airmass_rgb_20201228_2035.png,2020-12-28 20:35:00,639,0,[660.0],[15.0],['CL2'],2012723,1
1308327,../fromgcloud/airmass_rgb_20201228_2040.png,2020-12-28 20:40:00,639,0,[660.0],[15.0],['CL2'],2012723,1
1308339,../fromgcloud/airmass_rgb_20201228_2045.png,2020-12-28 20:45:00,639,0,[660.0],[15.0],['CL2'],2012723,1
1308351,../fromgcloud/airmass_rgb_20201228_2050.png,2020-12-28 20:50:00,639,0,[660.0],[15.0],['CL2'],2012723,1
1308363,../fromgcloud/airmass_rgb_20201228_2055.png,2020-12-28 20:55:00,639,0,[660.0],[15.0],['CL2'],2012723,1

In [13]:
df_data.label.sum()/df_data.shape[0]

0.08297102679936144

In [10]:
df_data.tile_offset_x.unique()

array([   0,  213,  426,  639,  852, 1065], dtype=int16)

In [11]:
df_data.source.unique()

<StringArray>
[                                                                            '[]',
                                                                 "['CL2', 'CL3']",
                       "['CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8', 'CL9']",
                                     "['CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7']",
                                                   "['CL2', 'CL3', 'CL4', 'CL5']",
                                                          "['CL2', 'CL3', 'CL4']",
               "['CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8', 'CL9', 'CL10']",
                              "['CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8']",
                                                                        "['CL2']",
         "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8', 'CL9']",
                                                   "['CL2', 'CL2', 'CL3', 'CL3']",
                                                          "['CL2', 'CL2', 'CL3']",
                                            "['CL2', 'CL3', 'CL4', 'CL5', 'CL6']",
                "['CL2', 'CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8', 'CL9']",
                                            "['CL2', 'CL2', 'CL3', 'CL4', 'CL5']",
                                     "['CL2', 'CL2', 'CL3', 'CL4', 'CL5', 'CL6']",
                             "['CL2', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8', 'CL10']",
                                            "['CL2', 'CL2', 'CL3', 'CL3', 'CL4']",
                                     "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL5']",
         "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL4', 'CL5', 'CL5', 'CL6', 'CL7']",
                              "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL4', 'CL5']",
                                                   "['CL2', 'CL2', 'CL3', 'CL4']",
                "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8']",
                                                                 "['CL2', 'CL2']",
                                     "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL4']",
                              "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL5', 'CL6']",
                       "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL4', 'CL5', 'CL6']",
                       "['CL2', 'CL2', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8']",
 "['CL2', 'CL2', 'CL3', 'CL3', 'CL4', 'CL5', 'CL6', 'CL7', 'CL8', 'CL9', 'CL10']"]
Length: 29, dtype: string

#### verifica con funzione build_dataset.make_master_df

In [6]:
import pandas as pd
p1 = 'all_data_CL7_tracks_complete_fast2.csv'
p2 = 'all_data_CL7_tracks_complete_fast.csv'
df1 = pd.read_csv(p1,parse_dates=['start_time', 'end_time'])
df2 = pd.read_csv(p2,parse_dates=['start_time', 'end_time'])

In [10]:
(df1 == df2).sum()

Unnamed: 0       1413168
path             1413168
datetime         1413168
tile_offset_x    1413168
tile_offset_y    1413168
x_pix            1413168
y_pix            1413168
source           1413168
id_cyc_unico     1413168
start_time         37501
end_time           37501
label            1413168
dtype: int64

In [11]:
df1.shape, df2.shape

((1413168, 12), (1413168, 12))